@keyframes down-btn {
    0% {
        bottom: 20px
    }

    100% {
        bottom: 0
    }

    0% {
        opacity: 0
    }

    100% {
        opaicty: 1
    }
}

@-webkit-keyframes down-btn {
    0% {
        bottom: 20px
    }

    100% {
        bottom: 0
    }

    0% {
        opacity: 0
    }

    100% {
        opaicty: 1
    }
}

@-moz-keyframes down-btn {
    0% {
        bottom: 20px
    }

    100% {
        bottom: 0
    }

    0% {
        opacity: 0
    }

    100% {
        opaicty: 1
    }
}

@-o-keyframes down-btn {
    0% {
        bottom: 20px
    }

    100% {
        bottom: 0
    }

    0% {
        opacity: 0
    }

    100% {
        opaicty: 1
    }
}

body {
    margin: 0
}

.img-card {
    width: 320px;
    height:470px;
    position: relative;
    border-radius: 25px;
    text-align: left;
    -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .3);
    -o-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .3);
    margin-bottom: 30px;
    
}
.img-card:hover {
    transform: scale(1.035, 1.035);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  }

.img-card .card-image {
    position: relative;
    margin: auto;
    overflow: hidden;
    border-radius: 25px 25px 0 0;
    height: 200px
}

.img-card .card-image img {
    width: 100%;
    border-radius: 5px 5px 0 0;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s
}

.img-card .card-image:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1)
}

.img-card .card-text {
    line-height: 1.5
}

.img-card .card-link {
    padding: 20px 15px 30px;
    width: -webkit-fill-available;
    text-align: center;
    
}

.img-card .card-link a {
    text-decoration: none;
    position: relative;
    padding: 10px 0
}

.img-card .card-link a:after {
    top: 30px;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    width: 0;
    -webkit-transition: width .3s ease 0s, left .3s ease 0s;
    -moz-transition: width .3s ease 0s, left .3s ease 0s;
    -o-transition: width .3s ease 0s, left .3s ease 0s;
    transition: width .3s ease 0s, left .3s ease 0s
}

.img-card .card-link a:hover:after {
    width: 100%;
    left: 0
}


.img-card.iCard-style2 .card-title {
    padding:5px;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    text-align:left;
    padding-left:20px;
    
}

.img-card.iCard-style2 .card-image {
    margin-bottom: 15px
}

.img-card.iCard-style2 .card-caption {
    text-align: center;
    top: 80%;
    font-size: 17px;
    color: #fff;
    position: absolute;
    width: 100%;
    font-family: Roboto, sans-serif;
    z-index: 1
}

.img-card.iCard-style2 .card-link a {
    border: 1px solid;
    padding: 8px;
    border-radius: 3px;
    color: #000;
    font-size: 13px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s
}

.img-card.iCard-style2 .card-link a:hover {
    background: #000
}

.img-card.iCard-style2 .card-link a:hover span {
    color: #fff
}
.onhover:hover {
    box-shadow: 0px 30px 40px -20px hsl(229, 6%, 66%);
    transform: scale(1.1);
    z-index: 1;
}
.onhover {
    transition: all .2s ease-in-out;
}
