<app-navbar></app-navbar>
<div style="margin:20px; margin-left:13%">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="Dashboard.html">Dashboard</a>
                <a href="ToReview.html">>To Review</a>
                <a>>Rising Sun</a><br><br>
            </li>
        </ol>
    </nav>
</div>
<div class="Content" style="min-height: 100vh;">
    <app-reviewersidenav></app-reviewersidenav>
 
    <div class="container">

        <h2 class="Toreviewtext">Rising sun</h2>
        <img class="SunImg" src="./assets/sun.jpg" alt="Good Morning Friends">
        <br>
        <br><br>
        <p class="Article1">Rising Sun is a board game for 3 to 5 players set in legendary feudal Japan. As the
            Kami
            descend from the heavens to reshape the land in their image, it is up to each player to lead their
            clan
            to victory. Use politics to further your cause, negotiate to seek the most profitable alliances,
            worship
            the Kami to gain their favor, recruit monsters out of legend to bolster your forces, and use your
            resources wisely to be victorious in battle. Created by acclaimed designer Eric M. Lang, Rising Sun
            reunites the same creative forces responsible for the smash hit Blood Rage, with stunning artwork by
            Adrian Smith and intricate miniatures sculpted under the direction of Mike McVey.Rising Sun takes
            place
            in a mythical version of Japan. You lead a clan to conquest and gain the favors of the Gods.The game
            consists of three played seasons. Players, in order to achieve their goals, can Train, Marshall,
            Harvest, Recruit or Betray. Each of these phases allows different actions. At the end of the season,
            players resolve combat in provinces claimed by two opponents. The combat has different options:
            Seppuku,
            Hostage, Rōnin and Imperial Poets. Monsters can be obtained to support the clans.Rising Sun cares
            little
            for history. It hurls quite a bit of its feudal Japanese setting in your face—there are Daimyo,
            Shinto
            priests, and even Kami gods. There are also contorted dragons, along with legions of Oni towering
            over
            the battlefield, severed heads dangling from their belts. The fantastical setting is gorgeous,
            though it
            cheerily simplifies the culture it depicts, swapping out the names of difficult-to-pronounce regions
            for
            those easier to say in English. (The game’s “research” apparently included mining Wikipedia entries
            for
            bogus “Japanese” mythological monsters.not a great sign.).But Rising Sun is comfortable in its
            shoes. It
            doesn't purport to be a simulation and instead presents a sleek area control design with a backbone
            of
            negotiation. As a game based on possessing the most victory points, it does a great job of dressing
            up
            the affair in exceptional visuals and dramatic flair.The most distinct quality of this design is its
            focus on bribery and cajoling. The game is broken into four “seasons” that function as three rounds
            of
            extended play plus a final sequence of scoring during the winter months. The first phase of each
            season
            consists of the “tea ceremony.” Coins and promises exchange hands as hard alliances between pairs of
            players are formed. These formal bonds will remain throughout the round, yielding mechanical
            benefits to
            both participants.</p>
<div class="container d-flex justify-content-between">

    <button type="button" class="RejectButton Button btn btn-primary rounded-pill me-2" data-toggle="modal"
             data-target="#exampleModal">Publish</button>
 
 
        <button  type="button" class="publishButton Button btn btn-primary rounded-pill me-2 " data-toggle="modal"
             data-target="#exampleModal2">Reject</button>
</div>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>


                    </div>
                    <div class="modal-body">
                        <h6>Do You Want To proceed?</h6>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                        <a href="ThankYou.html"><button type="button" class="btn btn-primary">Yes</button></a>

                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel2">Confirmation</h5>
                    </div>
                    <div class="modal-body">
                        <h6>Do You Want To proceed?</h6>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                        <a href="Rejection1.html"><button type="button" class="btn btn-primary">Yes</button></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
<app-footer></app-footer>
