<app-navbar></app-navbar>
<div style="margin:20px; margin-left:13%">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="Dashboard.html">Dashboard</a>
                <a href="ToReview.html">>Article Reviewed</a>
                <br><br>
            </li>
        </ol>
    </nav>
</div>
<div class="Content" style="min-height: 100vh;">
    <app-reviewersidenav></app-reviewersidenav>
 
    <div class="container">

        <div class="text-center">
            <h1>{{data.title}}</h1>
        </div>
        <div class="text-center pb-4">
            <img class= "article-img"  [src]="'data:image/jpg;base64,'+ data.image" />
        </div>
        <br>
        <br><br>
        <p> {{data.content}}
        </p>

           
        
    </div>
<app-footer></app-footer>
