<app-navbar></app-navbar>
<div class="breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLinkActive="active" routerLink="/ReviewerDashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">
                To review
            </li>
        </ol>
    </nav>
</div>
<div class="Content" *ngIf="data.length>0; else ArrayEmpty">
    <h1>Articles waiting for review</h1>
    <div class="Container">
        <table class="table table-striped row-border hover">
            <thead>
                <tr class="tablecolor">
                    <th>Article no</th>
                    <th>Author name</th>
                    <th>Article name</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-default" *ngFor="let item of data">
                    <td>{{item.articleId}}</td>
                    <td>{{item.authorName}}</td>
                    <td>{{item.title}}</td>
                    <td>
                        <div *ngIf="item.status!='To Be Reviewed' ;else enablink">
                            <div *ngIf="item.reviewerId>0;else enable">
                                <a *ngIf="userid == item.reviewerId; else disabledLink"
                                    [routerLink]="['/ToReviewSpecific',item.articleId]">{{item.status}}</a>
                                <ng-template #disabledLink>
                                    <a>{{item.status}}</a>
                                </ng-template>
                            </div>
                            <ng-template #enable>
                                <a [routerLink]="['/ToReviewSpecific',item.articleId]">{{item.status}}</a>
                            </ng-template>
                        </div>
                        <ng-template #enablink>
                            <a [routerLink]="['/ToReviewSpecific',item.articleId]">{{item.status}}</a>
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<ng-template #ArrayEmpty>
    <div class="text-center">
        <h1>No articles to review.</h1>
    </div>
</ng-template>
<app-footer></app-footer>