<app-navbar></app-navbar>
<div style="margin:20px">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">

                <a routerLinkActive="active" routerLink="/ReviewerDashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">
                To Review
            </li>

        </ol>
    </nav>
</div>
<div class="Content" style="min-height: 100vh;">

    <h1>To Review</h1>
    <div class="Container">
        <div>
            <table class="table table-striped row-border hover">

                <thead>
                    <tr class="tablecolor">
                        <th>Article No</th>
                        <th>Author Name</th>
                        <th>Article Name</th>
                        <th>Status</th>
                        <th>Reviewer Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-default" *ngFor="let item of data">
                        <td>{{item.articleId}}</td>
                        <td>{{item.authorName}}</td>
                        <td>{{item.title}}</td>
                        <td><a routerLinkActive="active"
                                [routerLink]="['/ToReviewSpecific',item.articleId]">{{item.status}}</a></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

<app-footer></app-footer>