<app-navbar></app-navbar>
<div>
    <div style="margin:20px;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="Home.html">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a></a>
                </li>
            </ol>
        </nav>
    </div>
</div>
<div>
    <h3>Trending Articles<a routerLink="/TrendingArticles" class="Homepage" routerLinkActive="active">(Show all)</a></h3>
    <br>
    <br>
<app-articlecardhome>"</app-articlecardhome>
<br>
<br>
<h3>Latest Articles<a routerLink="/LatestArticles" class="Homepage" routerLinkActive="active">(Show all)</a></h3>
<br>
<br>
<app-articlecardhome artsrc="https://localhost:7197/Article/GetLatestArticles?Range=3"></app-articlecardhome>
<br>
<br>
<h3>Trending Queries<a routerLink="/TrendingQueries" class="Homepage" routerLinkActive="active">(Show all)</a></h3>
<br>
<br>
<app-querycardhome Querysrc="https://localhost:7197/Query/GetTrendingQueries?Range=0"></app-querycardhome>
<br>
<br>
<h3>Latest Queries<a routerLink="/LatestQueries" class="Homepage" routerLinkActive="active">(Show all)</a></h3>
<br>
<br>
<app-querycardhome Querysrc="https://localhost:7197/Query/GetLatestQueries?Range=3"></app-querycardhome>
</div>

<app-footer></app-footer>