<app-navbar></app-navbar>
<div class="breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLinkActive="active" routerLink="/ReviewerDashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">
                Published article
            </li>
        </ol>
    </nav>
</div>
<div class="Content">
    <div class="container">
        <div class="text-center">
            <h2>{{data.title}}</h2>
        </div>
        <div class="text-center pb-4">
            <img class="article-img" [src]="'data:image/jpg;base64,'+ data.image" />
        </div>
        <br>
        <div [innerHTML]="data.content">  
        </div>
    </div>
</div>
<app-footer></app-footer>