.Reviewedpage {
  text-align: center;
}

.article-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
}
.breadcrumb {
  margin: 50px;
}
.Content {
  min-height: 100vh;
}
