<app-admin-navbar></app-admin-navbar>
<div style="margin:20px; margin-left:13%">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="Home.html">Dashboard</a>
            </li>
        </ol>
    </nav>
</div>
<div class="Content" style="min-height: 100vh;">
    <app-sidenav></app-sidenav>
    <h2 class="heading">Overview of Dashboard</h2>
    <br><br>
<div class="d-flex">
    <div class="Card d-md-inline">
        <div class="cardRight" style="width: 18rem;">

            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">4250</h5>
                <p class="card-text" style="text-align: center;">Total Number of Users</p>

            </div>
        </div>
        <br><br>
        <div class="cardLeft" style="width: 18rem;">

            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">64</h5>
                <p class="card-text" style="text-align: center;">Total Number of Reviewers</p>

            </div>
        </div>
        <br><br>
        <div class="cardBottom" style="width: 18rem;">

            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">2500</h5>
                <p class="card-text" style="text-align: center;">Total Number of Articles</p>

            </div>

        </div>
        <br><br>
        <div class="cardLeft1" style="width: 18rem;">

            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">150</h5>
                <p class="card-text" style="text-align: center;">Solved Query</p>

            </div>

        </div>
        <br><br>
        <div class="cardBottom1" style="width: 18rem;">

            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">35</h5>
                <p class="card-text" style="text-align: center;">UnSolved Query</p>

            </div>

        </div>
    </div>
</div>


</div>
<app-footer></app-footer>