<app-admin-navbar></app-admin-navbar>
<app-sidenav></app-sidenav>


<div class="Content" style="min-height: 100vh;">
    
    <h2 class="heading">Overview of Dashboard</h2>
    
<div class="Container">
   <app-admin-piechart></app-admin-piechart>
        <div class="cardRight" style="width: 18rem;">

            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">{{data.totalNumberOfUsers}}</h5>
                <p class="card-text" style="text-align: center;">Total Number of Users</p>

            </div>
        </div>
        <br><br>
        <div class="cardLeft" style="width: 18rem;">

            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">{{data.totalNumberOfReviwers}}</h5>
                <p class="card-text" style="text-align: center;">Total Number of Reviewers</p>

            </div>
        </div>
        <br><br>
        <div class="cardBottom" style="width: 18rem;">

            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">{{data.totalNumberOfArticles}}</h5>
                <p class="card-text" style="text-align: center;">Total Number of Articles</p>

            </div>

        </div>
        <br><br>
        <div class="cardLeft1" style="width: 18rem;">

            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">{{data.totaNumberofSolvedQueries}}</h5>
                <p class="card-text" style="text-align: center;">Solved Query</p>

            </div>

        </div>
        <br><br>
        <div class="cardBottom1" style="width: 18rem;">

            <div class="card-body">
                <h5 class="card-title" style="text-align: center;">{{data.totalNumberOfUnSolvedQueries}}</h5>
                <p class="card-text" style="text-align: center;">UnSolved Query</p>

            </div>

        </div>
    </div>
</div>



<app-footer></app-footer>