<div class="container-fluid text-light myfooter" style="background: #051225; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 17px;">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-4 text-center text-md-start">
                <p class="mb-md-0">&copy; <a class="text-white border-bottom">Aspire Overflow</a>. All Rights
                    Reserved.</p>
            </div>
            <div class="col-md-4 text-center text-md-middle">
                <p class="mb-0 "> <a class="text-white">Address: 1/D-1,SIPCOT IT
                        PARK,Siruseri,Chennai-603103</a><br>
                <p class="mb-0 "><i class=" fa fa-light fa-phone"></i><a class="text-white">
                        Phone:+91-4467404000</a><br>
                <p class="mb-0 "> <i class="fa fa-light fa-envelope"></i><a class="text-white">
                        Email:info-india@aspiresys.com</a><br>
            </div>
            <div class="col-md-4 text-center text-md-end">
                <p class="mb-0">Designed by <a class="text-white border-bottom">Team Aurora</a><br>
  
                </p>
            </div>
        </div>
    </div>