<div class="container justify-content-center d-flex flex-wrap">
    <div class="" *ngFor="let item of data">
        <div class="img-card iCard-style2 onhover">
            <div class="card-content">
                <div class="card-image">
                    <img [src]="'data:image/jpg;base64,'+ item.image" />
                </div>

                <h1 class="card-title text-truncate">{{item.title}}</h1>

                <p class="truncate-line-clamp para">{{item.content}}</p>


            </div>

            <div class="card-link readmore">
                <a href="#" title="Read Full">Read Full Article</a>
            </div>
        </div>
    </div>

    
</div>



