<app-navbar></app-navbar>
<div class="Content">
    <div class="breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLinkActive="active" routerLink="/Home">Home</a>
                </li>
                <li class="breadcrumb-item active">
                    Queries
                </li>

            </ol>
        </nav>
    </div>
    <app-query-card [Querysrc]="Url"></app-query-card>
</div>
<app-footer></app-footer>