<nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-5 py-3 py-lg-0">
    <div class="navbar">
        
            <img class="LogoImg" src="./assets/Logo.png">
            <h1 class="Title p-3">Aspire Overflow</h1>
     
           
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
            <li class="nav-item">
                <a routerLink="/Home" class="nav-item nav-link" routerLinkActive="active">Home</a>
            </li>
            <a routerLink="/Articles" class="nav-item nav-link" routerLinkActive="active">Articles</a>
            <a routerLink="/Queries" class="nav-item nav-link" routerLinkActive="active">Queries</a>
            <div class="dropdown">
                <a href="#" class="nav-link dropdown-toggle " data-bs-toggle="dropdown">My Profile</a>
                <div class="dropdown-content">
                    <li><a  class=" dropdown-toggle dropbtn" data-bs-toggle="dropdown">My Articles</a>
                        <div class="dropdown-Subcontent dropdown-Subcontent-left">
                    <li><a routerLink="/MyArticles" class="dropdown-item" routerLinkActive="active">My Articles</a></li>
                    <li><a routerLink="/CreateArticle" class="dropdown-item">Create Articles</a></li>
                </div>
                </li>
                <li><a  class="dropdown-toggle dropbtn">My Queries</a>
                    <div class="dropdown-Subcontent dropdown-Subcontent-left">
                <li><a routerLink="/RaiseQuery" class="dropdown-item" routerLinkActive="active">Raise Query</a></li>
                <li><a routerLink="/MyQueries" class="dropdown-item" routerLinkActive="active">My Queries</a></li>
            </div>
            </li>
            <li><a routerLink="/MyProfile" class="dropdown-item" routerLinkActive="active">View Profile</a></li>
            <li><a routerLink="/Login" class="dropdown-item" routerLinkActive="active">Logout</a></li>
        </div>
    </div>
    </div>
    </div>
</nav>