<app-navbar></app-navbar>
<div class="Content" style="min-height: 100vh;">
    <div style="margin:20px;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a routerLink="/Login"  routerLinkActive="active">Home</a>
                </li>
                <li class="breadcrumb-item active">
                    Queries
                </li>
      
            </ol>
        </nav>
      </div>

    <app-query-filter></app-query-filter>
    <app-query-card Querysrc="https://localhost:7197/Query/GetAll"></app-query-card>
</div>
<app-footer></app-footer>