<div class="register">
    <div class=" col-xl-5 mx-auto">
        <div>
            <a>
                <img class="LogoImg" alt="LogoImg" src="assets/Logo.png">
            </a>
            <span class="Title h1 fw-bold mb-0">Aspire Overflow</span>
        </div>
    </div>
    <div class="col-xl-5 mx-auto">
        <div class="card-body p-4 p-lg-5 border">
            <form [formGroup]="user" (ngSubmit)="userdata()" novalidate>
                <div>
                    <h5 class="text-center text-danger">{{error}}</h5>
                </div>
                <h4 class="card-title text-center mb-4">Registration</h4>
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="form-label">
                            <label class="form-label" for="fullName">Full Name </label>
                            <input type="text" class="form-control" name="fullName" id="fullName"
                                formControlName="fullName">
                            <span
                                [class.d-none]="user.controls['fullName'].valid || user.controls['fullName'].untouched"
                                class="text-danger" *ngIf="user.controls['fullName'].errors?.['required']">Name is
                                required</span>
                            <span class="text-danger" *ngIf="user.controls['fullName'].errors?.['minlength']">Name
                                should not have minimum 4 characters</span>
                            <span class="text-danger" *ngIf="user.controls['fullName'].errors?.['maxlength']">Name
                                should have maximum 20 characters</span>
                            <span class="text-danger" *ngIf="user.controls['fullName'].errors?.['pattern']">Name must
                                contain only characters</span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6 col-md-6 mb-4">
                        <label class="form-label">Gender</label>
                        <select class="form-select " name="gender" id="genderN" formControlName="gender" required>
                            <option value="" hidden>Choose Gender</option>
                            <option *ngFor="let item of GenderDetails" value={{item.genderId}}>{{item.name}}</option>
                        </select>
                        <span [class.d-none]="user.controls['gender'].valid || user.controls['gender'].untouched"
                            class="text-danger" *ngIf="user.controls['gender'].errors?.['required']">Gender is
                            required</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="label">
                            <label class="form-label" for="name">ACE Number</label>
                            <input type="text" class="form-control" formControlName="aceNumber" required
                                name="aceNumber">
                            <span
                                [class.d-none]="user.controls['aceNumber'].valid || user.controls['aceNumber'].untouched"
                                class="text-danger" *ngIf="user.controls['aceNumber'].errors?.['required']">ACE Number
                                is required</span>
                            <span class="text-danger" *ngIf="user.controls['aceNumber'].errors?.['pattern']">ACE Number
                                is invalid (Example-ACE1234)</span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6 col-md-6 mb-4">
                        <label class="form-label">Department </label>
                        <select id="departmentValidate" class="form-select" name="departmentValidate"
                            (change)="FilterDesignation()" required formControlName="departmentValidate">
                            <option value="" hidden>Select the Department</option>
                            <option *ngFor="let item of departmentDetails" value={{item.departmentId}}>{{item.name}}
                            </option>
                        </select>
                        <span
                            [class.d-none]="user.controls['departmentValidate'].valid || user.controls['departmentValidate'].untouched"
                            class="text-danger"
                            *ngIf="user.controls['departmentValidate'].errors?.['required']">Department is
                            required</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="form-label">
                            <label class="form-label" for="name">Mail Address </label>
                            <input type="text" class="form-control" required formControlName="emailAddress"
                                name="emailAddress">
                            <span
                                [class.d-none]="user.controls['emailAddress'].valid || user.controls['emailAddress'].untouched"
                                class="text-danger" *ngIf="user.controls['emailAddress'].errors?.['required']">Email
                                Address is required</span>
                            <span class="text-danger" *ngIf="user.controls['emailAddress'].errors?.['pattern']">Email
                                Address is invalid (Example-xxx@aspiresys.com)</span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6 col-md-6 mb-4">
                        <label class="form-label">Designation </label>
                        <select name="DesignationValidate" class="form-select" (change)="FilterDesignation()"
                            formControlName="DesignationValidate" required>
                            <option hidden>Select the Designation </option>
                            <option *ngFor="let item of Designationlist" value={{item.designationId}}>
                                {{item.name}} </option>
                        </select>
                        <span
                            [class.d-none]="user.controls['DesignationValidate'].valid || user.controls['DesignationValidate'].untouched"
                            class="text-danger"
                            *ngIf="user.controls['DesignationValidate'].errors?.['required']">Designation is
                            required</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="label">
                            <label class="form-label">Date Of Birth</label>
                            <input type="date" class="form-control rounded" placeholder="Date" aria-label="date"
                                aria-describedby="search-addon" name="dateOfBirth" formControlName="dateOfBirth"
                                required>
                            <span
                                [class.d-none]="user.controls['dateOfBirth'].valid || user.controls['dateOfBirth'].untouched"
                                class="text-danger" *ngIf="user.controls['dateOfBirth'].errors?.['required']">Date of
                                birth is required</span>
                            <span class="text-danger" *ngIf="validateDateOfBirth()">Your age must be greater than 18 and
                                less than 60</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="label">
                            <label class="form-label" for="name">Password</label>
                            <input type="password" class="form-control" formControlName="password" required
                                name="password">
                            <span
                                [class.d-none]="user.controls['password'].valid || user.controls['password'].untouched"
                                class="text-danger" *ngIf="user.controls['password'].errors?.['required']">Password is
                                required</span>
                            <span class="text-danger" *ngIf="user.controls['password'].errors?.['pattern']">Password
                                should be minimum 8 digits with 1 uppercase,1 lowercase,1 symbol and 1 number</span>
                        </div>
                    </div>
                </div>
                <div class="text-center mb-2 p-2">
                    <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" [disabled]="!user.valid"
                        type="Submit"> <span *ngIf="IsLoading" class="spinner-border spinner-border-sm" role="status"
                            aria-hidden="true"></span>Register</button>
                </div>
                <div class="link text-center">
					<span> Already Registered?<a  class="New" routerLink=""
							routerLinkActive="active">Log in</a>
					</span>
				</div>
            </form>
        </div>
    </div>
</div>