<div class="container register">
    <div class=" col-xl-5 mx-auto">
        <div class="container">
            <a>
                <img class="LogoImg " src="assets/Logo.png">
            </a>
            <span class="Title h1 fw-bold mb-0">Aspire Overflow</span>
        </div>
    </div>

    <div class="col-xl-5 mx-auto">
        <div class="card-body p-4 p-lg-5 border">
            <form [formGroup]="user" (ngSubmit)="userdata()" novalidate>
                <h5 class="card-title text-center">Registration</h5>

                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="form-label">
                            <label class="form-label" for="fullName">Full Name </label>
                            <input type="text" class="form-control" name="fullName" id="fullName"
                                formControlName="fullName">
                            <span class="text-danger"
                                *ngIf="user.controls['fullName'].invalid && user.controls['fullName'].touched">Name
                                field is Required(it should contains only Alpahabets and can have max 20
                                characters)</span>
                            <!-- <div class="text-danger" *ngIf="submitted && fullName.invalid" >Invalid</div> -->
                        </div>
                    </div>



                    <div class="col-sm-12 col-xl-6 col-md-6">
                        <label class="form-label">Gender</label>
                        <select class="form-select " name="gender" id="genderN" formControlName="gender" required>

                            <option value="" hidden>Choose Gender</option>
                            <option *ngFor="let item of GenderDetails" value={{item.genderId}}>{{item.name}}</option>
                        </select>
                        <span class="text-danger"
                            *ngIf="user.controls['gender'] && user.controls['gender'].invalid && user.controls['gender'].touched">Gender
                            field is
                            Required</span>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="label">
                            <label class="form-label" for="name">ACE Number</label>
                            <input type="text" class="form-control" formControlName="aceNumber" required
                                name="aceNumber">
                            <span class="text-danger"
                                *ngIf="user.controls['aceNumber'] && user.controls['aceNumber'].invalid && user.controls['aceNumber'].touched">ACE
                                Number field is Required(It should starts with ACE and 4 digits)</span>

                        </div>
                    </div>

                    <div class="col-sm-12 col-xl-6 col-md-6">

                        <label class="form-label">Department </label>
                        <select id="departmentValidate" class="form-select" name="departmentValidate"
                            (change)="FilterDesignation()" required formControlName="departmentValidate">
                            <option value="" hidden>Select the Department</option>
                            <option *ngFor="let item of departmentDetails" value={{item.departmentId}}>{{item.name}}
                            </option>
                        </select>
                        <span class="text-danger"
                            *ngIf=" this.user.controls['departmentValidate'] &&  this.user.controls['departmentValidate'].invalid &&  this.user.controls['departmentValidate'].touched">Department
                            field is Required</span>

                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="form-label">

                            <label class="form-label" for="name">Mail Address </label>
                            <input type="text" class="form-control" required formControlName="emailAddress"
                                name="emailAddress">
                            <span class="text-danger"
                                *ngIf=" this.user.controls['emailAddress'] &&  this.user.controls['emailAddress'].invalid &&  this.user.controls['emailAddress'].touched">Email
                                Address field
                                is Required(Example-xxx@aspiresys.com) </span>


                        </div>
                    </div>

                    <div class="col-sm-12 col-xl-6 col-md-6">

                        <label class="form-label">Designation </label>
                        <select name="DesignationValidate" class="form-select" (change)="FilterDesignation()"
                            formControlName="DesignationValidate" required>
                            <option hidden>Select the Designation </option>
                            <option *ngFor="let item of Designationlist" value={{item.designationId}}>
                                {{item.name}} </option>
                        </select>
                        <span class="text-danger"
                            *ngIf=" this.user.controls['DesignationValidate'] &&  this.user.controls['DesignationValidate'].invalid &&  this.user.controls['DesignationValidate'].touched">Designation
                            field
                            is Required</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="label">
                            <label class="form-label" for="name">Password</label>
                            <input type="password" class="form-control" formControlName="password" required name="password">
                            <span class="text-danger"
                                *ngIf=" this.user.controls['password'] &&  this.user.controls['password'].invalid &&  this.user.controls['password'].touched">Password
                                field is Invalid</span>

                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="label">
                            <label class="form-label">Date Of Birth</label>

                            <input type="date" class="form-control rounded" placeholder="Date" aria-label="date"
                                aria-describedby="search-addon" name="dateOfBirth" formControlName="dateOfBirth"
                                (change)="validateDateOfBirth()" required>

                            <span class="text-danger"
                                *ngIf=" this.user.controls['dateOfBirth'] &&  this.user.controls['dateOfBirth'].invalid &&  this.user.controls['dateOfBirth'].touched">dateOfBirth
                                field is Required</span>

                            <span class="text-danger"
                                *ngIf="validateDateOfBirth()">datebirth
                                is invalid</span>

                        </div>
                    </div>
                </div>
                <div class="text-center mb-2 p-2">

                    <button class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" [disabled]="!user.valid"
                        type="Submit"> <span *ngIf="IsLoading" class="spinner-border spinner-border-sm" role="status"
                            aria-hidden="true"></span>Register</button>

                </div>
            </form>
        </div>
    </div>