<app-navbar></app-navbar>
<div class="breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLinkActive="active" routerLink="/ReviewerDashboard">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">
                Article reviewed
            </li>
        </ol>
    </nav>
</div>
<div class="Content">
    <h1>Article reviewed</h1>
    <div class="Container">
        <div>
            <table class="table table-striped row-border hover">
                <thead>
                    <tr class="tablecolor">
                        <th>Article no</th>
                        <th>Author name</th>
                        <th>Article name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-default" *ngFor="let item of data">
                        <td>{{item.articleId}}</td>
                        <td>{{item.authorName}}</td>
                        <td><a routerLinkActive="active"
                                [routerLink]="['/ArticleReviewedSpecific',item.articleId]">{{item.title}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<app-footer></app-footer>