<app-admin-navbar></app-admin-navbar>
<div style="margin:20px; margin-left:13%">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="Home.html">Home</a>
            </li>
            <li class="breadcrumb-item active">
                Spam Reports
            </li>

        </ol>
    </nav>
</div>
<div class="Content" style="min-height: 100vh;">
<app-sidenav></app-sidenav>  
<h1>Spam Reports</h1>
<div class="Container">
    <div >
    <table datatable class="table table-striped row-border hover">
        <thead>
            <tr>
                <th>Query ID</th>
                <th>Query Title</th>
                <th>No Of Reports</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="" *ngFor="let item of data">
                <td>{{item.QueryID}}</td>
                <td>{{item.QueryTitle}}</td>
                <td>{{item.Reports}}</td>
              
                <td><button>View</button></td>
            </tr>
            </tbody>
    </table>
  </div>
</div>

</div>

<app-footer></app-footer>
