<app-navbar></app-navbar>
<div class="Content" style="min-height: 100vh;">
    <div style="margin:20px;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/Home" routerLinkActive="active">Home</a>
                </li>
                <li class="breadcrumb-item active">
                    MyArticles
                </li>

            </ol>
        </nav>
    </div>

    <h1>My Articles</h1>
    <div class="container card">
        <form>
            <label class="labeltext">Title <input type="text" name="searchTitle" [(ngModel)]="searchTitle" autocomplete="off" /></label>
            
            <label class="labeltext">From <input type="date" name="FromDate" [(ngModel)]="FromDate" autocomplete="off" /></label>
            
            <label class="labeltext">To <input type="date" name="ToDate" [(ngModel)]="ToDate" autocomplete="off"/></label>
            
            <button class="custom-btn btn-1" (click)="samplefun(searchTitle,FromDate,ToDate)"> Apply</button>
        </form>
    </div>
    <div class="container justify-content-center d-flex flex-wrap">
        <div class="" *ngFor="let item of data | paginate: { itemsPerPage:6, currentPage: page,totalItems:totalLength}">
            <div class="img-card iCard-style2 onhover">
                <div class="card-content">
                    <div class="card-image">
                        <img [src]="'data:image/jpg;base64,'+ item.image" />
                    </div>
                    <div class="card__body">
                        <div *ngIf="ShowStatus">
                            <span *ngIf="item.status=='Published'" class="tag tag-Material">Published</span>
                            <span *ngIf="item.status=='Under Review' || item.status=='To Be Reviewed'"
                                class="tag tag-brown">Under Review</span>
                            <span *ngIf="item.status=='InDraft'" class="tag tag-red">InDraft</span>
                        </div>
                        <h4 class="card-title text-truncate">{{item.title}}</h4>
                        <div class="truncate-line-clamp para">{{item.content|htmlToPlaintext}}</div>
                    </div>
                    <div class="btntag tag-blue " routerLinkActive="active"
                        [routerLink]="['/EditArticle',item.articleId]">Read More</div>
                </div>

            </div>
        </div>


    </div>
    <div class="Container justify-content-center d-flex">
        <div class="stickypagination">
            <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>
        </div>
    </div>
    <app-footer></app-footer>
