<app-navbar></app-navbar>
<div class="Content">
    <div class="breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/Home" routerLinkActive="active">Home</a>
                </li>
                <li class="breadcrumb-item active">
                    Create article
                </li>
            </ol>
        </nav>
    </div>
    <div class="container editor">
        <h5 class="text-center text-danger">{{error}}</h5>
        <form #form="ngForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="w-25">
                <label class="form-label">Title:</label>
                <input type="text" #title="ngModel" class="form-control mb-4" id="createarticle"
                    placeholder="Enter article title" name="title" [(ngModel)]="article.title"
                    [class.is-invalid]="title.invalid && title.touched" pattern="^.{1,100}$" required>
                <div *ngIf="title.errors && (title.invalid || title.touched)">
                    <small class="text-danger" *ngIf="title.errors['pattern']">Article Title should have maximum 100
                        characters</small>
                    <small class="text-danger" [class.d-none]="title.valid||title.untouched"
                        *ngIf="title.errors['required']">Article Title is required</small>
                </div>
            </div>
            <div class="w-25">
                <label class="form-label">Image:</label><br>
                <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile" name="image"
                    #image="ngModel" [(ngModel)]="article.ImageString">
                <label class="text-danger"> {{imageError}}</label>
                <div *ngIf="image.errors && (image.invalid || image.touched)">
                    <small class="text-danger" [class.d-none]="image.valid || image.untouched"
                        *ngIf="image.errors?.['required']">
                        Image is required.
                    </small>
                </div>
                <div>
                    <br>
                    <b><h5>Preview:</h5></b>
                    <img class="articleimg" [src]="'data:image/jpg;base64,'+ article.ImageString" alt="image" />
                </div>
            </div>
            <br> 
            <label class="form-label" for="email">Invite People(Optional):</label><br>
            <tag-input [(ngModel)]='goalitems' name="out" [onlyFromAutocomplete]="true" [editable]='true'
                [separatorKeyCodes]="[32,188,186,13,9]" [placeholder]="'Add email'"
                secondaryPlaceholder="Add email address" [clearOnBlur]="true" [addOnPaste]="true" [addOnBlur]="true"
                theme='bootstrap'>
                <tag-input-dropdown [autocompleteItems]="items" [showDropdownIfEmpty]="false" [dynamicUpdate]="true">
                </tag-input-dropdown>
            </tag-input>
            <br>
            <ckeditor name="content" #content="ngModel" [(ngModel)]="article.content"  [config]="{ removeButtons: 'Subscript,Superscript,Anchor,Source,Table,Scayt,HorizontalRule,Image'}"
                debounce="500" pattern="^\W*(\w+(\W+|$)){50,100000}$" required>
            </ckeditor>
            <div *ngIf="content.errors && (content.invalid || content.touched)">
                <small class="text-danger" *ngIf="content.errors['pattern']">Article content should have
                    Minimum 50 words</small>
                <small class="text-danger" [class.d-none]="content.valid || content.untouched"
                    *ngIf="content.errors?.['required']">
                    Article content is required.
                </small>
            </div>
            <div class="editor-btn">
                <button class="btn btn-1 btn-2 text-white font-weight-normal" type="button"
                    [disabled]="form.form.invalid" (click)="saveToDraft()">Save to
                    draft <span *ngIf="IsLoadingSaveDraft" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span></button>
                <button class="btn btn-1 btn-2 text-white font-weight-normal" type="submit"
                    [disabled]="!form.valid">Submit <span *ngIf="IsLoadingSubmit"
                        class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></button>
            </div>
        </form>
    </div>
</div>
<br>
<br>
<app-footer></app-footer>