<app-navbar></app-navbar>
<div class="Content">
    <div class="breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/Home" routerLinkActive="active">Home</a>
                </li>
                <li class="breadcrumb-item active">
                    Create article
                </li>
            </ol>
        </nav>
    </div>
    <div class="container editor">
        <h5 class="text-center text-danger">{{error}}</h5>
        <form [formGroup]="createarticle" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="w-25">
                <label class="form-label">Title:</label>
                <input type="text" class="form-control mb-4" id="createarticle" placeholder="Enter article title"
                    name="title" formControlName="title">
                <span
                    [class.d-none]="createarticle.controls['title'].valid || createarticle.controls['title'].untouched"
                    class="text-danger" *ngIf="createarticle.controls['title'].errors?.['required']">Title is
                    required</span>
                    <span class="text-danger" *ngIf="createarticle.controls['title'].errors?.['minlength']">Title
                        should not have minimum 4 characters</span>
                    <span class="text-danger" *ngIf="createarticle.controls['title'].errors?.['maxlength']">Title should be
                        less
                        than 60 characters.</span>
                <span class="text-danger" *ngIf="createarticle.controls['title'].errors?.['pattern']">Title should not have repeated characters</span>
            </div>
            <div class="w-25">
                <label class="form-label">Image:</label><br>
                <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile" name="imageString"
                    formControlName="imageString">
                <label class="text-danger"> {{imageError}}</label>
                <span
                    [class.d-none]="createarticle.controls['imageString'].valid || createarticle.controls['imageString'].untouched"
                    class="text-danger" *ngIf="createarticle.controls['imageString'].errors?.['required']">Image is
                    required</span>
            </div>
            <br>
            <label class="form-label" for="email">Invite People(Optional):</label><br>
            <tag-input formControlName='goalitems' name="out" [onlyFromAutocomplete]="true" [editable]='true'
                [separatorKeyCodes]="[32,188,186,13,9]" [placeholder]="'Add email'"
                secondaryPlaceholder="Add email address" [clearOnBlur]="true" [addOnPaste]="true" [addOnBlur]="true"
                theme='bootstrap'>
                <tag-input-dropdown [autocompleteItems]="items" [showDropdownIfEmpty]="false" [dynamicUpdate]="true">
                </tag-input-dropdown>
            </tag-input>
            <br>
            <ckeditor name="content" formControlName="content" 
                [config]="{ removeButtons: 'Subscript,Superscript,Anchor,Source,Table,Scayt,HorizontalRule,Image'}"
                debounce="500" required>
            </ckeditor>
            <span
                [class.d-none]="createarticle.controls['content'].valid || createarticle.controls['content'].untouched"
                class="text-danger" *ngIf="createarticle.controls['content'].errors?.['required']">Content is
                required</span>  
                         
            <div class="editor-btn">
                <button class="btn btn-1 btn-2 text-white font-weight-normal" type="button"
                    [disabled]="!createarticle.valid" (click)="saveToDraft()">Save to
                    draft <span *ngIf="IsLoadingSaveDraft" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span></button>
                <button class="btn btn-1 btn-2 text-white font-weight-normal" type="submit"
                    [disabled]="!createarticle.valid">Submit <span *ngIf="IsLoadingSubmit"
                        class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></button>
            </div>
        </form>
    </div>
</div>
<br>
<br>
<app-footer></app-footer>