body {
  margin: 0
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

.readmore {
  position: sticky;
  top: 90%;
  bottom: 10%
}

.stickypagination {
  position: sticky;
  top: 90%
}

.para {
  margin-left: 20px;
}

.card {
  margin-left: 20%;
  margin-top: 2%;
  max-width: 60%;
  height: auto;
  padding: 10px;
  padding-left: 1%;
  margin-bottom: 40px;
  text-align: center;
  border-radius: 10px;
  background-color: skyblue;
}

.labeltextclick {
  float: center;
  margin-right: 40px;
}

.tag-blue {
  background: #56CCF2;
  background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.lab {
  margin-left: -55%;
}