
body {
  margin: 0
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
}
.readmore {
  position: sticky;
  top: 90%;
  bottom: 10%
}

.stickypagination {
  position: sticky;
  top: 90%
}

.para {
  margin-left: 20px;
}

.card {
  margin-left: 20%;
  margin-top: 2%;
  max-width: 60%;
  height: auto;
  padding: 10px;
  margin-bottom: 40px;
  text-align: center;
  border-radius: 10px;
  background-color: skyblue;
}


.labeltext {
  font-weight: bold;
  float: center;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.labeltextFrom {
  font-weight: bold;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.labeltextauthor {
  font-weight: bold;
  float: center;
  margin-left: 5%;
  padding-left: 25px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.labeltextto {
  font-weight: bold;
  padding-left: 20px;
  margin-left: 3%;
  float: center;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.labeltextclick {
  float: center;
}



.tag-blue {
  background: #56CCF2;
  background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}