
body {
  margin: 0
}

.stickypagination {
  position: sticky;
  top: 90%
}
.card {
  margin-left: 20%;
  margin-top: 2%;
  max-width: 60%;
  height: auto;
  padding: 10px;
  margin-bottom: 40px;
  text-align: center;
  border-radius: 10px;
  background-color: skyblue;
}
@media (max-width: 800px) {
  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}
