<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="card">
    <div class="row">
        <div class="col-md-3">
            <label class="form-label"><b>Title</b> </label>
            <input type="text" class="form-control" name="searchTitle" [(ngModel)]="searchTitle" autocomplete="off" />
        </div>
        <div class="col-md-3">
            <label class="form-label"><b>Author</b></label>
            <input type="text" class="form-control" name="searchAuthor" [(ngModel)]="searchAuthor" autocomplete="off" />
        </div>
        <div class="col-md-3">
            <label class="form-label"><b>From</b></label>
            <input type="date" class="form-control" name="FromDate" [(ngModel)]="FromDate" autocomplete="off" />
        </div>
        <div class="col-md-3">
            <label class="form-label"><b>To</b></label> <input type="date" class="form-control" name="ToDate"
                [(ngModel)]="ToDate" autocomplete="off" />
        </div>
        <div class="row p-2">
            <div class="">
                <button class="custom-btn btn-1" (click)="samplefun(searchTitle,searchAuthor,FromDate,ToDate)">
                    Apply</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="data.length>0; else ArrayEmpty">
    <div class="container justify-content-center d-flex flex-wrap">
        <div class="" *ngFor="let item of data | paginate: { itemsPerPage:6, currentPage: page,totalItems:totalLength}">
            <div class="img-card iCard-style2 onhover">
                <div class="card-content">
                    <div class="card-image">
                        <img [src]="'data:image/jpg;base64,'+ item.image" />
                    </div>
                    <div class="card-body d-flex flex-column">
                        <h4 class="card-title text-truncate" data-toggle="tooltip" title="{{item.title}}">{{item.title}}</h4>
                        <div class="truncate-line-clamp para">{{item.content|htmlToPlaintext}}</div>
                    </div>
                    <div class="mt-auto">
                        <div class="btntag tag-blue " routerLinkActive="active"
                            [routerLink]="['/specificarticle',item.articleId]">Read More</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Container justify-content-center d-flex">
        <div class="stickypagination">
            <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>
        </div>
    </div>
</div>
<ng-template #ArrayEmpty>
    <div class="text-center">
        <h2>No articles found.</h2>
    </div>
</ng-template>