<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light">

        <div class="navbar-nav">


            <a class="nav-item nav-link active" routerLink="/AdminDashboard"><i class="fa fa-desktop me-2"
                    aria-hidden="true"></i>Dashboard</a>
            <a class="nav-item nav-link" routerLink="/Employee"><i class="fa fa-child me-2" aria-hidden="true"></i>
                Employees</a>

            <a class="nav-item nav-link" routerLink="/SpamReport"><i class="fa fa-flag me-2" aria-hidden="true"></i>
                Spam Reports</a>
            <a class="nav-item nav-link" routerLink="/UserVerification"><i class="fa fa-check me-2"
                    aria-hidden="true"></i>
                User Verfication</a>


        </div>

    </nav>
</div>
<!-- Sidebar End -->