<app-navbar></app-navbar>
<div class="Content" style="min-height: 100vh;">
    <div style="margin:20px;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="Home.html">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="MyArticles.html">My Articles</a>
                </li>
                <li class="breadcrumb-item active">
                    Update Article
                </li>

            </ol>
        </nav>
    </div>
    <div class="container editor">
       <h1>Web API</h1>
        <app-editor></app-editor>
    </div>
</div>
<app-footer></app-footer>