<app-navbar></app-navbar>
<div class="breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/Home" routerLinkActive="active">Home</a>
            </li>
            <li class="breadcrumb-item active">
                Raise query
            </li>
        </ol>
    </nav>
</div>
<div class="container p-5 my-5 border">
    <div class="text-center mb-4">
        <h2>Raise Query</h2>
    </div>
    <div class="form-group">
        <form [formGroup]="raisequery" (ngSubmit)="RaiseQuery()" novalidate>
            <div class="col-sm-10">
                <label class="control-label col-sm-2 mb-2" for="fname"><b>Title</b></label>
                <input type="text" class="form-control mb-4" id="raisequery-name" formControlName="title"
                    placeholder="Enter query title" name="title">
                <span [class.d-none]="raisequery.controls['title'].valid || raisequery.controls['title'].untouched"
                    class="text-danger" *ngIf="raisequery.controls['title'].errors?.['required']">Title is required</span>
                <span class="text-danger" *ngIf="raisequery.controls['title'].errors?.['pattern']">Title should maximum 100 characters</span>
            </div>
            <div>
                <div class="form-group">
                    <label class="control-label col-sm-2 mb-2" for="fname"><b>Query</b></label>
                    <div class="col-sm-10">
                        <textarea type="text" name="content" class="form-control mb-4" rows="5" cols="4"
                            id="raisequery-name" placeholder="Enter query here (Maximum 200 words)"
                            formControlName="content">
                        </textarea>
                        <span
                            [class.d-none]="raisequery.controls['content'].valid || raisequery.controls['content'].untouched"
                            class="text-danger" *ngIf="raisequery.controls['content'].errors?.['required']"> Content is
                            required</span>
                        <span class="text-danger" *ngIf="raisequery.controls['content'].errors?.['pattern']">Query
                            should have Minimum 20 words</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2 mb-2" for="fname"><b>Code</b></label>
                    <div class="col-sm-10">
                        <textarea type="text" name="code" class="form-control mb-4" rows="5" cols="4"
                            id="raisequery-name" placeholder="Enter code here(Optional)"
                            formControlName="code"></textarea>
                        <span
                            [class.d-none]="raisequery.controls['code'].valid || raisequery.controls['code'].untouched"
                            class="text-danger" *ngIf="raisequery.controls['code'].errors?.['pattern']">Query code
                            should have Maximum 1000 characters</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="mt-2 text-right">
                            <button class="btn btn-1 btn-2 text-white font-weight-normal "
                                [disabled]="!raisequery.valid" type="submit"><span *ngIf="IsLoading"
                                    class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                Raise query </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>