<app-navbar></app-navbar>
<div class="breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/Home" routerLinkActive="active">Home</a>
            </li>
            <li class="breadcrumb-item active">
                Raise query
            </li>
        </ol>
    </nav>
</div>
<div class="container p-5 my-5 border">
    <div class="text-center mb-4">
        <h2>Raise Query</h2>
    </div>
    <div class="form-group">
        <form #form="ngForm" (ngSubmit)="RaiseQuery()" autocomplete="off">
            <label class="control-label col-sm-2 mb-2" for="fname"><b>Title</b></label>
            <div class="col-sm-10">
                <input type="text" #title="ngModel" class="form-control mb-4" id="raisequery"
                    placeholder="Enter query title" name="querytitle" [(ngModel)]="query.title"
                    [class.is-invalid]="title.invalid && title.touched" pattern="^.{1,60}$" required>
                <div *ngIf="title.errors && (title.invalid || title.touched)">
                    <small class="text-danger" *ngIf="title.errors['pattern']">Title should have maximum 60
                        characters</small>
                    <small class="text-danger" [class.d-none]="title.valid||title.untouched"
                        *ngIf="title.errors['required']">Title is required</small>
                </div>
            </div>
            <div>
                <div class="form-group">
                    <label class="control-label col-sm-2 mb-2" for="fname"><b>Query</b></label>
                    <div class="col-sm-10">
                        <textarea type="text" name="query" class="form-control mb-4" rows="5" cols="4"
                            id="raisequery-name" placeholder="Enter query here (Maximum 200 words)"
                            #querycontent="ngModel" pattern="^\W*(\w+(\W+|$)){1,200}$" [(ngModel)]="query.content"
                            required></textarea>
                        <div *ngIf="querycontent.errors && (querycontent.invalid || querycontent.touched)">
                            <small class="text-danger" *ngIf="querycontent.errors['pattern']">Query should have
                                Maximum 200 words</small>
                            <small class="text-danger" [class.d-none]="querycontent.valid||querycontent.untouched"
                                *ngIf="querycontent.errors['required']">query is required</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2 mb-2" for="fname"><b>Code</b></label>
                    <div class="col-sm-10">
                        <textarea type="text" name="query" class="form-control mb-4" rows="5" cols="4"
                            placeholder="maximum 200words" id="raisequery-name" placeholder="Enter code here(Optional)"
                            [(ngModel)]="query.code"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="mt-2 text-right">
                            <button class="btn btn-1 btn-2 text-white font-weight-normal " [disabled]="!form.valid"
                                type="submit"><span *ngIf="IsLoading" class="spinner-border spinner-border-sm"
                                    role="status" aria-hidden="true"></span>
                                Raise query </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>