<div class="container register">
    <div class=" col-xl-5 mx-auto">
        <div class="container">
            <a>
                <img class="LogoImg " src="assets/Logo.png">
            </a>
            <span class="Title h1 fw-bold mb-0">Aspire Overflow</span>
        </div>
    </div>

    <div class="col-xl-5 mx-auto">
        <div class="card-body p-4 p-lg-5 border">
            <form #register="ngForm" novalidate>
                <h5 class="card-title text-center">Registration</h5>

                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="form-label">
                            <label class="form-label" for="fullName">First Name </label>
                            <input type="text" #fullName="ngModel" class="form-control" pattern="^[A-Za-z ]+$"
                                [class.is-invalid]="fullName.invalid && fullName.touched" name="fullName"
                                [(ngModel)]="user.fullName" required>
                            <div *ngIf="fullName.errors && (fullName.invalid || fullName.touched)">
                                <small class="text-danger" *ngIf="fullName.errors['pattern']">fullName is
                                    incorrect</small>
                                <small class="text-danger" [class.d-none]="fullName.valid || fullName.untouched"
                                    *ngIf="fullName.errors['required']">fullName is
                                    required</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">

                        <label class="form-label">Gender</label>
                        <select class="form-select " name="gender" [(ngModel)]="gender" required>
                            <option value="" hidden>Choose option</option>
                            <option *ngFor="let item of Gender" value={{item}}>{{item}}</option>
                        </select>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="label">
                            <label class="form-label" for="name">Ace Number </label>
                            <input type="text" #aceNumber="ngModel" pattern="(ACE+[0-9]{4})" class="form-control"
                                required [class.is-invalid]="aceNumber.invalid && aceNumber.touched" name="aceNumber"
                                [(ngModel)]="user.aceNumber">
                            <div *ngIf="aceNumber.errors && (aceNumber.invalid || aceNumber.touched)">
                                <small class="text-danger" *ngIf="aceNumber.errors['pattern']">aceNumber is
                                    incorrect</small>
                                <small class="text-danger" [class.d-none]="aceNumber.valid || aceNumber.untouched"
                                    *ngIf="aceNumber.errors['required']">aceNumber is
                                    required</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">

                        <label class="form-label">Department </label>
                        <select name="Department" id="DepartmentName" class="form-select " (change)="filterDropdown()"
                            name="dept" [(ngModel)]="dept" required>
                            <option value="" hidden>Select the Department</option>
                            <option *ngFor="let item of department" value={{item}}>{{item}}</option>
                        </select>

                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="form-label">

                            <label class="form-label" for="name">Mail Address </label>
                            <input type="text" #emailAddress="ngModel"
                                pattern="([a-zA-Z0-9-_\.]+)@(aspiresys.com|aspiresystems.biz)" class="form-control"
                                required [class.is-invalid]="emailAddress.invalid && emailAddress.touched"
                                name="emailAddress" [(ngModel)]="user.emailAddress">
                            <div *ngIf="emailAddress.errors && (emailAddress.invalid || emailAddress.touched)">
                                <small class="text-danger" *ngIf="emailAddress.errors['pattern']">Mail Address
                                    is
                                    incorrect</small>
                                <small class="text-danger" [class.d-none]="emailAddress.valid || emailAddress.untouched"
                                    *ngIf="emailAddress.errors['required']">Mail Address is
                                    required</small>

                            </div>
                        </div>
                    </div>
                        <div class="col-sm-12 col-xl-6">

                            <label class="form-label">Designation </label>
                            <select name="Designation" id="DesignationName" class="form-select"
                                (change)="filterDropdown()" name="_designation" [(ngModel)]="_Designation" required>
                                <option value="">Select the Designation</option>
                                <option *ngFor="let item of designation" value={{item.designationName}}>
                                    {{item.designationName}}</option>
                            </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-xl-6 ">

                        <label class="form-label">Date Of Birth</label>
                        <div class="input-group rounded mb-4 ">
                            <input type="date" class="form-control rounded" placeholder="Date" aria-label="date"
                                aria-describedby="search-addon" name="dateOfBirth" #dateOfBirth="ngModel"
                                [(ngModel)]="user.dateOfBirth" (keyup)="validateDateOfBirth()" required>

                            <!-- <small class="text-danger" [class.d-none]="fullName.valid || fullName.untouched" *ngIf="dateOfBirth.errors['required']">Date of birth is
                                            required</small> -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-4">
                        <div class="form-group">
                            <label class="form-label" for="name">Password</label>
                            <input type="password" #password="ngModel"
                                pattern="((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{6,20})" class="form-control"
                                required [class.is-invalid]="password.invalid && password.touched" name="password"
                                [(ngModel)]="user.password">
                            <div *ngIf="password.errors && (password.invalid || password.touched)">
                                <small class="text-danger" *ngIf="password.errors['pattern']">Password is
                                    incorrect</small>
                                <small class="text-danger" [class.d-none]="(password.valid || password.untouched ) "
                                    *ngIf="password.errors['required']">Password is
                                    required</small>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center mb-2 p-2">
                    <button [disabled]="register.form.invalid"
                        class="btn btn-lg btn-primary btn-login fw-bold text-uppercase" type="Submit"
                        (click)="userdata()">Register</button>
                </div>