p {
    font-size: 15px;
    line-height: 23px;
    text-align: center;
}

a {
    color: #6b6b6b;
    font-size: 16px;
    float: right;
    text-decoration: none;
    transition: 0.5s;
}

h4 {
    text-align: center;
    font-weight: 600;
}

.QueryImgIcon {
    height: 60px;
    width: 60px;
    margin-left: 12px;
}

.readmore {
    position: sticky;
    top: 100%
}

.stickypagination {
    position: sticky;
    top: 110%;
}

.btntag {
    align-self: flex-end;
    cursor: pointer;
    margin-left: 125px;
    margin-top: 30px;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
    width: fit-content;
}

.tag-blue {
    background: #56CCF2;
    background: linear-gradient(to bottom, #2F80ED, #56CCF2);
    color: #fafafa;
    display: flex;
    flex-direction: column;
}

.card {
    margin-top: 2%;
    max-width: 55%;
    height: auto;
    padding: 10px;
    margin-bottom: 40px;
    text-align: center;
    border-radius: 10px;
    background-color: skyblue;
}

.label {
    font-weight: bold;
}

.Searchbar {
    margin-right: 1%;
}