<div class="container card">
    <form>
        <label class="labeltext">Search Query</label>
        <input class="Searchbar" type="text"  name="search" [(ngModel)]="searchTitle" autocomplete="off">
        <input  type="radio" value="Solved Queries" name="Queries" [(ngModel)]="searchSolvedQueries" autocomplete="off">
        <label class="labeltext">Solved Queries</label>
        <input  type="radio" value="Unsolved Queries" name="Queries" [(ngModel)]="searchUnSolvedQueries" autocomplete="off">
        <label class="labeltext">Unsolved Queries</label>
        <button class="custom-btn btn-1" (click)="samplefun(searchTitle,searchSolvedQueries,searchUnSolvedQueries)"> Apply</button>
    </form>
</div>



<div class="container justify-content-center d-flex flex-wrap">
    <div class="" *ngFor="let item of data | paginate: { itemsPerPage:6, currentPage: page,totalItems:totalLength }">
        <div class="our-skills">
            <div class="box-shadow">
                <div class="icon">
                    <img class="QueryImgIcon" src="http://primedepartamentos.com/images/icons/chat-icon.png">
                </div>
                <h4 class="card-text text-truncate">{{item.title}}</h4>
                <p class="truncate-line-clamp">{{item.content}}</p>
                <a class="btntag tag-blue d-flex flex-column" routerLinkActive="active"
                [routerLink]="['/SpecificQuery',item.queryId]">Read More </a>

            </div>
        </div>

    </div>
</div>
<div class="Container justify-content-center d-flex flex-wrap">
    <div class="stickypagination">
        <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>
    </div>
</div>
