h1,
h2 {
    font-weight: 700 !important
}

h3,
h4 {
    font-weight: 600 !important
}

h5,
h6 {
    font-weight: 500 !important
}
.LogoImg {
    height:60px;
    width: 60px;  
    
}
  .btn-lg{
    display: table-cell;
    width: 100px;
  }
  .text{
      font-size: 40px;
      padding-left:1%;
      color: skyblue;
  }
  .example-button-row {
    display: table-cell;
    width: 490px;
  }