<app-admin-navbar></app-admin-navbar>
<div class="Content">
    <div class="breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLinkActive="active" routerLink="/AdminDashboard">AdminDashboard</a>
                </li>

                <li class="breadcrumb-item active">
                    Employees
                </li>

            </ol>
        </nav>
    </div>



    <h1>Employee Details</h1>

    <div class="Container">

        <table datatable [dtOptions]="dtOptions" class="table table-striped row-border hover">
            <thead>
                <tr class="tablecolor">
                    <th>Name</th>
                    <th>ACE Number</th>
                    <th>Email Address</th>
                    <th>Reviewer</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-default" *ngFor="let item of data">
                    <td>{{item.fullName}}</td>
                    <td>{{item.employeeId}}</td>
                    <td>{{item.email}}</td>
                    <td><input [(ngModel)]="item.isReviewer" type="checkbox" (change)="onCheckboxChange(item.userId)">
                    </td>
                    <td><a (click)="DisableUser(item.userId)"><button class="btn btn-danger">Disable</button></a></td>
                </tr>
            </tbody>
        </table>
    </div>




    <app-footer></app-footer>