h3 {
    margin-left: 15%
}


.para {
    margin-left: 20px
}


.icon {
    padding: 10px 0;
    background-color: #fff;
    margin: -45px auto 20px auto;
    border-radius: 10px;
    width: 90px
}

p {
    font-size: 15px;
    line-height: 23px;
    text-align: center
}

a {
    color: #411fec;
    font-size: 16px;
    text-decoration: none;
    transition: .5s
}

h4 {
    text-align: center;
    font-weight: 600
}

.QueryImgIcon {
    height: 60px;
    width: 60px;
    margin-left: 12px
}
.btntag {
    align-self: flex-end;
    cursor: pointer;
    margin-left: 190px;
    margin-top: 30px;
    padding: .25em .75em;
    border-radius: 1em;
    font-size: .75rem;
    width: fit-content;
    align-self: flex-end
}

.Content {
    min-height: 100vh;
}

.tag-blue {
    background: #56ccf2;
    background: linear-gradient(to bottom, #2f80ed, #56ccf2);
    color: #fafafa;
    display: flex;
    flex-direction: column
}

.card {
    margin-top: 2%;
    max-width: 55%;
    height: auto;
    padding: 10px;
    margin-bottom: 40px;
    text-align: center;
    border-radius: 10px;
    background-color: #87ceeb
}

.breadcrumb {
    margin: 20px;
}