<app-navbar></app-navbar>
<div>
    <div style="margin:20px;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLinkActive="active" routerLink="/Home">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a></a>
                </li>
            </ol>
        </nav>
    </div>
</div>
<div class="Content" style="min-height: 100vh;">
    <h3>Trending Articles<a routerLink="/TrendingArticles" class="Homepage" routerLinkActive="active">(Show all)</a>
    </h3>

    <div class="container justify-content-center d-flex flex-wrap">
        <div class="" *ngFor="let item of data.trendingArticles">
            <div class="img-card iCard-style2 onhover">
                <div class="card-content">
                    <div class="card-image">
                        <img [src]="'data:image/jpg;base64,'+ item.image" />
                    </div>

                    <h4 class="card-title text-truncate">{{item.title }}</h4>

                    <div class="truncate-line-clamp para">{{item.content|htmlToPlaintext}}</div>


                </div>

                <div class=" btntag tag-blue " routerLinkActive="active"
                    [routerLink]="['/specificarticle',item.articleId]">Read More</div>
            </div>
        </div>


    </div>




    <br>
    <h3>Latest Articles<a routerLink="/LatestArticles" class="Homepage" routerLinkActive="active">(Show all)</a></h3>

    <div class="container justify-content-center d-flex flex-wrap">
        <div class="" *ngFor="let item of data.latestArticles">
            <div class="img-card iCard-style2 onhover">
                <div class="card-content">
                    <div class="card-image">
                        <img [src]="'data:image/jpg;base64,'+ item.image" />
                    </div>

                    <h4 class="card-title text-truncate">{{item.title}}</h4>

                    <div class="truncate-line-clamp para">{{item.content|htmlToPlaintext}}</div>


                </div>

                <div class=" btntag tag-blue " routerLinkActive="active"
                    [routerLink]="['/specificarticle',item.articleId]">Read More</div>
            </div>
        </div>


    </div>




    <br>
    <h3>Trending Queries<a routerLink="/TrendingQueries" class="Homepage" routerLinkActive="active">(Show all)</a></h3>

    <div class="container justify-content-center d-flex flex-wrap">
        <div class="" *ngFor="let item of data.trendingQueries">
            <div class="our-skills">
                <div class="box-shadow">
                    <div class="icon">
                        <img class="QueryImgIcon" src="http://primedepartamentos.com/images/icons/chat-icon.png">
                    </div>
                    <h4 class="card-text queryh4">{{item.title}}</h4>
                    <p class="Query-truncate-line-clamp Queryp">{{item.content}}</p>
                    <a class="btn btn-default qbtntag tag-blue" routerLinkActive="active"
                        [routerLink]="['/SpecificQuery',item.queryId]">Read More →</a>

                </div>
            </div>

        </div>
    </div>
    <br>
    <h3>Latest Queries<a routerLink="/LatestQueries" class="Homepage" routerLinkActive="active">(Show all)</a></h3>

    <div class="container justify-content-center d-flex flex-wrap">
        <div class="" *ngFor="let item of data.latestQueries">
            <div class="our-skills">
                <div class="box-shadow">
                    <div class="icon">
                        <img class="QueryImgIcon" src="http://primedepartamentos.com/images/icons/chat-icon.png">
                    </div>
                    <h4 class="card-text queryh4">{{item.title}}</h4>
                    <p class="Query-truncate-line-clamp Queryp">{{item.content}}</p>
                    <a class="btn btn-default qbtntag tag-blue" routerLinkActive="active"
                        [routerLink]="['/SpecificQuery',item.queryId]">Read More →</a>

                </div>
            </div>

        </div>
    </div>
</div>

<app-footer></app-footer>
