h3 {
    margin-left: 15%
}

.Homepage {
    font-size: large
}

body {
    margin: 0
}


.box-shadow {
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px 0 #a5a5a5;
    padding: 15px;
    border-radius: 10px;
    float: right;
    width: 300px;
    height: 300px
}

a {
    color: #411fec;
    font-size: 16px;
    text-decoration: none;
    transition: .5s
}

.QueryImgIcon {
    height: 60px;
    width: 60px;
    margin-left: 12px
}


.truncate-line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 250px;
    overflow: hidden
}


.Content {
    min-height: 100vh;
}
.tag-blue {
    background: #56CCF2;
    background: linear-gradient(to bottom, #2F80ED, #56CCF2);
    color: #fafafa;
    display: flex;
    flex-direction: column;
}

.card {
    margin-top: 2%;
    max-width: 55%;
    height: auto;
    padding: 10px;
    margin-bottom: 40px;
    text-align: center;
    border-radius: 10px;
    background-color: #87ceeb
}
