<app-navbar></app-navbar>
<div style="margin:20px; margin-left:13%">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="Home.html">Home</a>
            </li>
            <li class="breadcrumb-item active">
                Artical Reviewed
            </li>

        </ol>
    </nav>
</div>
<div class="Content" style="min-height: 100vh;">
<app-reviewersidenav></app-reviewersidenav>
<h1>Artical Reviewed</h1>
<div class="Container">
    <div >
    <table datatable class="table table-striped row-border hover">
        <thead>
            <tr>
                <th>Article No</th>
                <th>Author Name</th>
                <th>Article Name</th>
                <th>Published Date</th>
            </tr>
        </thead>
        <tbody>
            <tr class="" *ngFor="let item of data">
                <td>{{item.ArticleID}}</td>
                <td>{{item.AuthorName}}</td>
                <td>{{item.ArticleName}}</td>
                <td>{{item.PublishedDate}}</td>
              
                
            </tr>
            </tbody>
    </table>
  </div>
</div>

</div>

<app-footer></app-footer>
