
body {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center
}

.card {
    margin-left: 1%;
    margin-top: 3rem;
    float: right;
    margin-right: 13rem;
}

.ToReview:hover{
    background-color: rgb(111, 172, 246);
}

.ArticleReviewed:hover{
    background-color: rgb(249, 134, 188);
}

.Content {
    min-height: 100vh;
}

