<app-navbar></app-navbar>
<div class="breadcrumb">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/ReviewerDashboard" routerLinkActive="active">Dashboard</a>
      </li>
    </ol>
  </nav>
</div>
<div class="Content">
  <h2 class="heading">Overview of Dashboard</h2>
  <div class="Container">
    <div class="wrapper">
      <canvas id="piechart" ></canvas>
    </div>
    <div class="card">
      <div class="cardRight" routerLink="/ToReview" routerLinkActive="active">
        <div class="card-body">
          <h5 class="cardtitle">{{articles}}</h5>
          <p class="cardtext"> Articles To Review</p>
        </div>
      </div>
      <div class="cardRight" routerLink="/ArticleReviewed" routerLinkActive="active">
        <div class="card-body">
          <h5 class="cardtitle">{{piedata.articleCounts.articlesPublished}}</h5>
          <p class="cardtext"> Articles Reviewed</p>
        </div>
      </div>
      <div class="cardRight">
        <div class="card-body">
          <h5 class="cardtitle">{{piedata.articleCounts.totalNumberOfArticles}}</h5>
          <p class="cardtext">Total Number of Articles</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>