:root {
    --primary: #009cff;
    --light: #f3f6f9;
    --dark: #191c24
}
body {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center
}

.card{
    margin-left: 1%;
    margin-top: 3rem;
    float: right;
    margin-right: 13rem;
}


.cardRight {
    
    border-style: solid
}


.heading {
    text-align: center
}

.wrapper {
    width: 350px;
    height: 350px;
    margin-top: 3rem;
    margin-right: 10rem;
    margin-left: 2%;
    float:right;
    
}

