<app-navbar></app-navbar>
<div class="Content">
    <div class="breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/Home" routerLinkActive="active">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a routerLink="/MyArticles" routerLinkActive="active">My articles</a>
                </li>
                <li class="breadcrumb-item active">
                    Update article
                </li>
            </ol>
        </nav>
    </div>
    <div class="container editor">
        <h1>{{error}}</h1>
        <form #form="ngForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="w-25">
                <label class="form-label">Title:</label>
                <input type="text" #title="ngModel" class="form-control mb-4" id="createarticle"
                    placeholder="Enter Article Title" name="title" [(ngModel)]="article.title"
                    [class.is-invalid]="title.invalid && title.touched" minlength="4" maxlength="100"
                    pattern="^\S.*[^.\s]$" required>
                <div *ngIf="title.errors && (title.invalid || title.touched)">
                    <small class="text-danger" *ngIf="title.errors['pattern']">Article Title shouldn't start with
                        space,have minimum 100
                        characters and characters shouldn't repeat for many times</small>
                    <small class="text-danger" [class.d-none]="title.valid||title.untouched"
                        *ngIf="title.errors['required']">Article Title is required</small>
                </div>
            </div>
            <div class="w-25">
                <label class="form-label">Image:</label><br>
                <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile" name="image"
                    #image="ngModel" [(ngModel)]="article.ImageString">
                <label class="text-danger"> {{imageError}}</label>

                <div>
                    <br>
                    <b>
                        <h5>Preview:</h5>
                    </b>
                    <img class="articleimg" [src]="'data:image/jpg;base64,'+ article.ImageString" alt="image" />
                </div>
            </div>
            <br>
            <label class="form-label">Invite People(optional):</label><br>
            <tag-input [(ngModel)]="itemsAsObjects" name="out" theme="bootstrap">
                <tag-input-dropdown [autocompleteItems]="items" [showDropdownIfEmpty]="false" [dynamicUpdate]="true">
                </tag-input-dropdown>
            </tag-input>
            <br>
            <ckeditor name="content" #content="ngModel" [(ngModel)]="article.content"
                [config]="{ removeButtons: 'Subscript,Superscript,Anchor,Source,Table,Scayt,HorizontalRule,Image'}"
                debounce="500" pattern="^\W*(\w+(\W+|$)){50,100000}$" required>
            </ckeditor>
            <div *ngIf="content.errors && (content.invalid || content.touched)">
                <small class="text-danger" *ngIf="content.errors['pattern']">Article content should have
                    Minimum 50 words</small>
                <small class="text-danger" [class.d-none]="content.valid || content.untouched"
                    *ngIf="content.errors?.['required']">
                    Article content is required.
                </small>
            </div>
            <div class="editor-btn">
                <button class="btn btn-1 btn-2 text-white font-weight-normal" type="button"
                    [disabled]="form.form.invalid" (click)="saveToDraft()">Save To
                    Draft <span *ngIf="IsLoadingSaveDraft" class="spinner-border spinner-border-sm" role="status"
                        aria-hidden="true"></span></button>
                <button class="btn btn-1 btn-2 text-white font-weight-normal" type="submit"
                    [disabled]="!form.valid">Submit <span *ngIf="IsLoadingSubmit"
                        class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></button>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>