<app-admin-navbar></app-admin-navbar>

<div class="Content">

    <h2 class="heading">Overview of Dashboard</h2>

    <div>
        <div class="wrapper">
            <canvas id="piechart"></canvas>
        </div>
        <div class="card">
            <div class="cardRight">

                <div class="card-body">
                    <h5 class="cardtitle">{{piedata.totalNumberOfUsers}}</h5>
                    <p class="cardtext">Total Number of Users</p>

                </div>
            </div>

            <div class="cardRight">

                <div class="card-body">
                    <h5 class="cardtitle">{{piedata.totalNumberOfReviwers}}</h5>
                    <p class="cardtext" style="text-align: center;">Total Number of Reviewers</p>

                </div>
            </div>

            <div class="cardRight" style="width: 18rem; margin:10px">

                <div class="card-body">
                    <h5 class="cardtitle">{{piedata.totalNumberOfArticles}}</h5>
                    <p class="cardtext">Total Number of Articles</p>

                </div>

            </div>

            <div class="cardRight">

                <div class="card-body">
                    <h5 class="cardtitle">{{piedata.totaNumberofSolvedQueries}}</h5>
                    <p class="cardtext">Solved Query</p>

                </div>

            </div>

            <div class="cardRight">

                <div class="card-body">
                    <h5 class="cardtitle">{{piedata.totalNumberOfUnSolvedQueries}}</h5>
                    <p class="cardtext">UnSolved Query</p>

                </div>

            </div>
        </div>
    </div>
</div>
<br><br>


<app-footer></app-footer>