
.Content {
    min-height: 100vh;
}

body {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    margin-top: 3%;
    margin-left: 1%;
    float: right;
    margin-right: 10rem;
    width: 20rem;
}


.Container {
    margin-left: 15%;
    margin-bottom: 30rem;
    border-style: solid;
}


