:root {
    --primary: #009cff;
    --light: #f3f6f9;
    --dark: #191c24
}

.Content {
    min-height: 100vh;
}

body {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardtitle {
    text-align: center;
}

.cardtext {

    text-align: center;
}

.card {
    margin-top: 3rem;
    float: right;

}


.cardRight {
    border-style: solid;
    width: 18rem;
    margin: 10px;
}

.Container{
    margin-right:0%;
    }

.heading {
    text-align: center
}

.wrapper {
    width: 350px;
    height: 350px;
    margin-top: 3rem;
    float: right;
   margin-right:12%;
   margin-left:20%;
}

#piechart {
    width: 76;
    height: 76;
}