:root {
    --primary: #009cff;
    --light: #f3f6f9;
    --dark: #191c24
}
body {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    margin-top: 3%;
    margin-left:1%;
    float: right;
    margin-right: 10rem;

}


.cardRight {
    
    border-style: solid
}


.Container {
    margin-left: 15%;
    margin-bottom: 30rem;
    border-style: solid;
}

.heading {
    text-align: center

}

.wrapper {
    width: 400px;
    height: 400px;
    margin-right: 10rem;
    margin-top: 50px;
    float:right;
}

