<div class="container login">
	<div class=" col-xl-5 mx-auto">
		<div class="container">
			<a>
				<img class="LogoImg " src="assets/Logo.png">
			</a>
			<span class="Title h1 fw-bold mb-0">Aspire Overflow</span>
		</div>
		<div class="card-body p-5 p-lg-5 border ">
			<h5 class="card-title text-center ">Login</h5>
			<form #form="ngForm" (ngSubmit)="onSubmit()" autocomplete="off">
				<div class="mt-3" *ngIf="showErrorMessage">
					<p class="text-danger text-center"> Invalid username or password</p>
				</div>
				<div class="form-group mb-3 p-2">
					<label class="label" for="name">Email </label>
					<input type="text" id="email" #email="ngModel" class="form-control" name="email"
						[(ngModel)]="user.Email" pattern="([a-zA-Z0-9-_\.]+)@(aspiresys.com)" required>
					<div *ngIf="email.errors && (email.invalid || email.touched)">
						<small class="text-danger" *ngIf="email.errors['pattern']">Email should be valid
							(Example-xxx@aspiresys.com)</small>
						<small class="text-danger" [class.d-none]="email.valid || email.untouched"
							*ngIf="email.errors?.['required']">
							Email Address is required.
						</small>
					</div>
				</div>
				<div class="form-group mb-3 p-2">
					<label class="label" for="name">Password</label>
					<input type="password" class="form-control" name="password" #password="ngModel"
						[(ngModel)]="user.Password" required>
					<div class="text-danger" [class.d-none]="password.valid || password.untouched"
						*ngIf="password.errors?.['required']">
						Password is required.
					</div>
				</div>
				<div class="text-center mb-2 p-2">
					<button class="custom-btn btn-1" type="Submit">
						<span *ngIf="IsLoading" class="spinner-border spinner-border-sm" role="status"
							aria-hidden="true"></span>
						Login</button>
				</div>
				<div class="link d-md-flex text-center">
					<span> <a class="d-block  mt-2 small text-center" routerLink="/Register"
							routerLinkActive="active">New User? Sign Up</a>
					</span>
				</div>
			</form>
		</div>
	</div>
</div>