<div class="container mb-4">
    <a (click)="toggleShown()"><button type="button" class="custom-btn btn-1 btn-3 ">Speak Aloud</button></a>
</div>
<div *ngIf='isShow' class="container alignment">
    <div class="row">
        <div class="col-md-6">
           <div class="justify-content-between align-items-center d-flex bg-light border p-2">
            <div class="col-0 fs-5">
                <label for="voice-control" class="form-field__label">Voice:</label>
                <div class="dropdown ">
                    <select id="voice-control" name="voice" [(ngModel)]="selectedVoice" (change)=" updateSayCommand()"
                        class="form-field__control dropdown">
                        <option value="">- Select a voice -</option>
                        <option *ngFor="let voice of voices" [ngValue]="voice">{{ voice.name }}</option>
                    </select>
                </div>
            </div>
            <div class="col-0 fs-5">
                <label for="rate-control" class="form-field__label">Speed:</label>
                <div class="form-floating">
                    <select id="rate-control" name="rate" [(ngModel)]="selectedRate" (change)=" updateSayCommand()" class="form-field__control">
                        <option *ngFor="let rate of rates" [ngValue]="rate">{{ rate }}
                            <ng-template [ngIf]="( rate === 1 )">( Normal )</ng-template>
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-4">
                <a (click)="speak()"><input type="image" alt="PlayIcon" class="img " src="./assets/play.png" /> </a>
                <a (click)="pause()"><input type="image" alt="PlayIcon" class="img" src="./assets/pause.png" /> </a>
                <a (click)="stop()"><input type="image" alt="StopIcon" class="stopimg" src="./assets/stop.png" /> </a>
            </div>
           </div>
        </div>
    </div>
</div>