<app-navbar></app-navbar>
<div>
    <div class="breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLinkActive="active" routerLink="/Home">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a routerLinkActive="active" [routerLink]="['/SpecificQuery',reportspam.queryId]">Specific query</a>
                </li>
                <li class="breadcrumb-item">
                    <a>Report spam</a>
                </li>
            </ol>
        </nav>
    </div>
</div> 
<div class="Content">
    <div class="container  p-5 my-5 border">
        <div class="panel panel-default">
            <div>
                <div>
                   <pre>{{data.content}}</pre> 
                </div>
                <div>
                    <pre>{{data.code}}</pre>
                </div>
            </div>
        </div>
        <div class="text-center my-4">
            <div>
                <h5 class="text-center text-danger">{{error}}</h5>
            </div>
            <h3>Reason for report</h3>
            <div>
                <form #form="ngForm" (ngSubmit)="spamreport()" autocomplete="off">
                    <div class="bg-light p-2">
                        <textarea type="text" name="reportspam" class="form-control" rows="5" cols="4" #report="ngModel"
                            placeholder="maximum 200words" id="reportspam-name" placeholder="Reason for report" pattern="^\W*(\w+(\W+|$)){2,50}$"
                            [(ngModel)]="reportspam.reason" required></textarea>
                            <div *ngIf="report.errors && (report.invalid || report.touched)">
                                <small class="text-danger" *ngIf="report.errors['pattern']">Reason should have maximum 50
                                    words</small>
                                <small class="text-danger" [class.d-none]="report.valid||report.untouched"
                                    *ngIf="report.errors['required']">Reason is required</small>
                            </div> 
                    </div>
                    <div class="mt-2 text-right"><button type="submit" [disabled]="!form.valid" class="custom-btn btn-1 btn-2">Report
                            spam</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>