.card {
  width: 1050px;
  height: auto;
  padding: 5px;
  margin-bottom: 40px;
  text-align: center;
  align-items: center;
  margin-top: auto;
  border-radius: 20px;
  background-color: skyblue;
}


.page-title {
  text-align: center;
  padding-bottom: 5px;
}


.Content {
  min-height: 100vh;
}