<router-outlet></router-outlet>
<!-- <app-toreviewpage></app-toreviewpage> -->
<!-- <app-toreviewspecificpage></app-toreviewspecificpage> -->
<!-- <app-specificarticle></app-specificarticle> -->
<!-- <app-articlereviewedspecificpage></app-articlereviewedspecificpage> -->
<!-- <app-profile></app-profile> -->
<!-- <app-userverificationpage></app-userverificationpage> -->
<!-- <app-reviewerdashboard></app-reviewerdashboard> -->
<!-- <app-admindashboard></app-admindashboard> -->
<!-- <app-employee-page></app-employee-page> -->
<!-- <app-articles></app-articles> -->
<!-- <app-articalreviewedpage></app-articalreviewedpage> -->
<!-- <app-toreviewspecificpage></app-toreviewspecificpage> -->
<!-- <app-toreviewpage></app-toreviewpage> -->
<!-- <app-articalreviewedpage></app-articalreviewedpage> -->
<!-- <app-specificquery></app-specificquery> -->

