.Toreviewtext {
  text-align: center;
}

h1{
  text-align:center; 
}

.article-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%
}


.Content {
  min-height: 100vh;
}

.breadcrumb {
  margin: 20px;
}

.checkin {
  float:right;
}