<app-navbar></app-navbar>
<div class="Content" style="min-height: 100vh;">
    <div style="margin:20px;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a routerLink="/Home"  routerLinkActive="active">Home</a>
                </li>
                <li class="breadcrumb-item active">
                    MyArticles
                </li>
      
            </ol>
        </nav>
      </div>
    <app-article-filter></app-article-filter>
    <h1>My Articles</h1>
    <app-article-card artsrc="https://localhost:7197/Article/GetArticlesByUserId?UserId=1"></app-article-card>
</div>

<app-footer></app-footer>
