<app-admin-navbar></app-admin-navbar>
<div class="Content">
  <div class="breadcrumb">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLinkActive="active" routerLink="/AdminDashboard">Admin dashboard</a>
        </li>
        <li class="breadcrumb-item">
          <a routerLinkActive="active" routerLink="/SpamReport">Spam reports</a>
        </li>
        <li class="breadcrumb-item active">
          Spam view
        </li>
      </ol>
    </nav>
  </div>
  <div class="container p-5 my-1 border">
    <div class="text-center">
      <h2>{{data[0].query.title}}</h2>
    </div>
    <br>
    <pre class="textsize">
      {{data[0].query.content}}
    </pre>
  
    <button class="btn btn-danger" (click)="toggleShow()">Cancel spam</button>
    <button class="btn btn-success float-end " (click)="toggleShown() ">Remove query</button>
    <br><br>
    <div *ngIf="isShown" class="row container-fluid"  id="divshow">
      <div  class="overlay" *ngFor="let item of data">
          <div class="popup">
            <p class="Font">Are You Sure Do you want to cancel this spam?</p>
            <div class="text-right clc">
              <a (click)="onReject()"><button class="btn btn-primary align">Yes</button></a>   
              <a (click)="toggleShow()"><button class="btn btn-danger">No</button></a>
            </div>
          </div>
      </div>
  </div>
  <div *ngIf="isShow" class="row container-fluid"  id="divshow">
    <div  class="overlay" *ngFor="let item of data">
        <div class="popup">
          <p class="Font">Are You Sure Do you want to remove this query?</p>
          <div class="text-right clc">
            <a (click)="onAccept()"><button class="btn btn-primary align">Yes</button></a>   
            <a (click)="toggleShown()"><button class="btn btn-danger">No</button></a>
          </div>
        </div>
    </div>
</div>
    <cdk-virtual-scroll-viewport class="example-viewport" itemSize="60">
      <dl class="example-dl p-2">
        <ng-container *cdkVirtualFor="let comment of data[0].listOfSpams">
          <dt class="lineh1"><i class="fa fa-solid fa-user mx-3 ">&nbsp;&nbsp;{{comment.name}}</i></dt>
          <dd class="example-dd mx-5 lineh">{{comment.reason}}</dd><br>
          <hr>
        </ng-container>
      </dl>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
<app-footer></app-footer>