.example-viewport {
  height: 300px;
  width: 100%;
  border: 1px solid black;
}

.example-dt {
  height: 30px;
  font-weight: bold;
}

.example-dd {
  height: 30px;
}

.Content {
  margin-left: 20%;
  min-height: 100vh;
}

.breadcrumb {
  margin: 10px;
}
.textsize
{
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}
.lineh
{
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  line-height:1.5;
}