<app-admin-navbar></app-admin-navbar>
<div class="Content">
  <div class="breadcrumb">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLinkActive="active" routerLink="/AdminDashboard">Admindashboard</a>
        </li>
        <li class="breadcrumb-item">
          <a routerLinkActive="active" routerLink="/SpamReport">Spam reports</a>
        </li>
        <li class="breadcrumb-item active">
          Spamview
        </li>
      </ol>
    </nav>
  </div>
  <div class="container p-5 my-1 border">
    <div class="text-center">
      <h1>{{data[0].query.title}}</h1>
    </div>
    <pre>
      {{data[0].query.content}}
    </pre>
    <button class="btn btn-danger" (click)="onReject()">Cancel spam</button>
    <button class="btn btn-success float-end " (click)="onAccept() ">Remove query</button>
    <br><br>
    <cdk-virtual-scroll-viewport class="example-viewport" itemSize="60">
      <dl class="example-dl p-2">
        <ng-container *cdkVirtualFor="let comment of data[0].listOfSpams">
          <dt class="example-dt"><i class="fa fa-solid fa-user mx-3 ">&nbsp;&nbsp;{{comment.name}}</i></dt>
          <dd class="example-dd mx-5">{{comment.reason}}</dd>
          <hr>
        </ng-container>
      </dl>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
<app-footer></app-footer>