<app-navbar></app-navbar>
<div style="margin:20px; margin-left:13%">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="Home.html">Dashboard</a>
            </li>
        </ol>
    </nav>
</div>
<div class="Content" style="min-height: 100vh;">
    <app-reviewersidenav></app-reviewersidenav>
    <h2 class="heading">Overview of Dashboard</h2><br>
    <br><br>

    <br><br><div class="d-flex">
        <div class="Card d-md-inline">
            <div class="cardRight" style="width: 18rem;">
             
              <div class="card-body">
                <h5 class="card-title" style="text-align: center;">50</h5>
                <p class="card-text" style="text-align: center;">  Article To Review</p>
             
              </div>
            </div>
            <br><br>
            <div class="cardLeft" style="width: 18rem;">
             
              <div class="card-body">
                <h5 class="card-title" style="text-align: center;">605</h5>
                <p class="card-text" style="text-align: center;"> Article Reviewed</p>
             
              </div>
            </div>
            <br><br>
            <div class="cardBottom" style="width: 18rem;">
             
              <div class="card-body">
                <h5 class="card-title" style="text-align: center;">1500</h5>
                <p class="card-text" style="text-align: center;">Total Number of Article</p>
             
              </div>
              
            </div>
          </div>
         
</div>

<app-footer></app-footer>