<app-navbar></app-navbar>
<div class="breadcrumb">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">

        <a routerLinkActive="active" routerLink="/Home">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a>Specific query</a>
      </li>
    </ol>
  </nav>
</div>
<div class="container mb-4">
  <div *ngIf="data.createdBy!=userid">
    <a routerLinkActive="active" [routerLink]="['/ReportSpam',data.queryId]"><button type="button"
        class="custom-btn btn-1 btn-3 " id="button-code">Report
        spam</button></a>
  </div>
</div>
<div class="container p-5 my-5 border">
  <pre class="text-center">
    <h1>{{data.title}}</h1>
  </pre>
  <br>
  <pre class="textsize">
    {{data.content}}
  </pre>
  <pre class="querycode">
{{data.code}}
</pre>
  <div *ngIf="data.comments.length!==0">
    <h4>{{data.comments.length}} Answers</h4>
    <cdk-virtual-scroll-viewport class="example-viewport" itemSize="60">
      <table>
        <tr *cdkVirtualFor="let comment of data.comments">
          <td class="example-dt"><br><i  
              class="fa fa-solid fa-user mx-3">&nbsp;&nbsp;<b>{{comment.name}}</b>:&nbsp;<i>{{comment.dateTime|ago}}</i><br><br><p class="lineh">{{comment.message}}</p></i>
            <hr>
          </td>
          <br>
      </table>
    </cdk-virtual-scroll-viewport>
  </div>
  <br>
  <br>
  <form #form="ngForm" (ngSubmit)="PostComment()" autocomplete="off" *ngIf="data.isSolved===false" >
    <h5>Comment your answer</h5>
    <div class="container">
      <div class="bg-light p-2">
        <textarea type="text" name="comment" class="form-control form-control5" id="queryComment-message"
        placeholder="Enter comments (maximum 500 characters)" [(ngModel)]="Query.comment" #comment="ngModel" maxlength="200" minlength="2" pattern="^\S.*[^.\s]$" required>
    </textarea>
      <div *ngIf="comment.errors && (comment.invalid || comment.touched)">
        <small class="text-danger" [class.d-none]="comment.valid||comment.untouched"
          *ngIf="comment.errors['required']">comment is required</small>
          <small class="text-danger" *ngIf="comment.errors['pattern']">Comment should not empty must contain maximum 200 characters</small>
      </div>
    </div>
  </div>
    <div class="mt-2 text-right">
      <button class="custom-btn btn-1 btn-2" id="button-code" [disabled]="!form.valid" type="submit">Post</button>
    </div>
  </form>
</div>

<app-footer></app-footer>