
.content {
    margin-right: 50px;
    margin-left: 50px
}

.container {
    padding: 30px;
    margin-top: -30px
}

.form-control1 {
    resize: none;
    width: 350px;
    height: 150px;
    margin-left: 185px
}

.btn-3 {
    float: right;
    margin-right: -2.3rem;
    background: #00acee
}

.btn-2 {
    float: right;
    margin-right: .5rem;
    background: #00acee
}


.panel.panel-default * {
    vertical-align: middle
}

#right-content {
    display: inline-block;
    width: 95%;
    padding-top: 20px
}

.user-container {
    float: right
}



.breadcrumb {
    margin: 20px;
}