<app-navbar></app-navbar>
<div class="breadcrumb">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">

        <a routerLinkActive="active" routerLink="/Home">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a>Specificquery</a>
      </li>
    </ol>
  </nav>
</div>
<div class="container mb-4">
  <a routerLinkActive="active" [routerLink]="['/ReportSpam',data.queryId]"><button type="button"
      class="custom-btn btn-1 btn-3 " id="button-code">Report
      Spam</button></a>
</div>
<div class="container p-5 my-1 border">
  <div class="text-center">
    <h1>{{data.title}}</h1>
  </div>
  <pre>
    {{data.content}}
  </pre>
  <pre class="">
{{data.code}}
</pre>
  <div *ngIf="data.comments.length!=0">
    <h4>{{data.comments.length}} Answers</h4>
    <cdk-virtual-scroll-viewport class="example-viewport" itemSize="60">
      <table>
        <tr *cdkVirtualFor="let comment of data.comments">
          <td class="example-dt"><br><i class="fa fa-solid fa-user mx-3">  {{comment.name}}<br><br>{{comment.message}}</i>
            <hr>
          </td>
          <br>
      </table>
    </cdk-virtual-scroll-viewport>
  </div>
  <br>
  <br>
  <form #form="ngForm" (ngSubmit)="PostComment()" autocomplete="off" *ngIf="data.isSolved==false">
    <h5>Comment Your Answer</h5>
    <div class="container">
      <div class="bg-light p-2">
        <textarea type="text" name="comment" class="form-control form-control5" id="queryComment-message"
          placeholder="Enter comments" [(ngModel)]="Query.comment">
                    </textarea>
      </div>
    </div>
    <div class="mt-2 text-right">
      <button class="custom-btn btn-1 btn-2" id="button-code" type="submit">Post</button>
    </div>
  </form>
</div>
<app-footer></app-footer>