:root {
    --primary: #06A3DA;
    --secondary: #F57E57;
    --light: #EEF9FF;
    --dark: #091E3E
}

h1,
h2 {
    font-weight: 700 !important
}

h3,
h4 {
    font-weight: 600 !important
}

h5,
h6 {
    font-weight: 500 !important
}

.btn {
    font-family: Jost, sans-serif;
    font-weight: 600;
    transition: .5s
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%
}

.content {
    margin-right: 50px;
    margin-left: 50px
}

.container {
    padding: 30px;
    margin-top: -30px
}

.title {
    text-align: center
}

.fa.fa-comment {
    font-size: 36px
}

.form-control5 {
    resize: none;
    height: 150px;
    width: 103%
}

.form-control1 {
    resize: none;
    width: 350px;
    height: 150px;
    margin-left: 185px
}

.form-control {
    resize: none
}

.btn-2 {
    float: right;
    margin-right: .5rem;
    background: #00acee
}

.custom-btn.btn-1 {
    border: none;
    width: 100px
}

.btn-3 {
    float: right;
    margin-right: -2.3rem;
    background: #00acee
}

.custom-btn.btn-1 {
    border: none;
    width: 130px
}

.panel.panel-default * {
    vertical-align: middle
}

#right-content {
    display: inline-block;
    width: 95%;
    padding-top: 20px
}

.user-container {
    float: right
}

.name {
    display: inline-block
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify
}

.example-viewport {
    height: 300px;
    width: 100%;
    border: 1px solid #000
}

.example-dt {
    height: 30px;
    font-weight: 700
}

.example-dd {
    height: 30px
}

.custom-btn {
    width: auto;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 15px;
    font-family: Lato, sans-serif;
    font-weight: 500;
    background: 0 0;
    cursor: pointer;
    transition: all .3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, .5), 7px 7px 20px 0 rgba(0, 0, 0, .1), 4px 4px 5px 0 rgba(0, 0, 0, .1);
    outline: 0;
    margin-left: 15px
}

.btn-1 {
    background: #00acee;
    border: none
}

.btn-1:hover {
    background: #0495ce
}
.example-dt{
    width: 100%;
}

.breadcrumb
{
    margin: 20px;
}