<app-admin-navbar></app-admin-navbar>
<app-sidenav></app-sidenav>  
<div class="Content" style="min-height: 100vh;">

<h1>User Verification</h1>
<div class="Container">
    <div >
    <table datatable class="table table-striped row-border hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date of Birth </th>
                <th>Employee Id</th>
                <th>Role</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr class="" *ngFor="let item of data">
                <td>{{item.fullName}}</td>
                <td>{{item.dateOfBirth}}</td>
                <td>{{item.employeeId}}</td>
                <td>{{item.designation}}</td>
                <td>{{item.email}}</td>
              
                <td><button>Accept</button>&nbsp;<button>Reject</button></td>
            </tr>
            </tbody>
    </table>
  </div>
</div>

</div>

<app-footer></app-footer>
