.login{
    margin-top:10%;
    margin-bottom:5%;
    }
.img-container{
        align-items:30px;
        padding: 30px;
        margin-left: 430px;
        margin-top:70px;
      }
.LogoImg {
        height:15%;
        width: 15%;
        margin-top: 7px; 
        margin-bottom:4%; 
        margin-left:12%;
        margin-right:2%;
    }
    .Title{
        color:#00acee;
    }
    .link{
          margin-left: 33%;
    }
    
    /*button */
    .custom-btn {
        width: auto;
        height: 40px;
        color: #fff;
        border-radius: 5px;
        padding: 10px 15px;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
         box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
         7px 7px 20px 0px rgba(0,0,0,.1),
         4px 4px 5px 0px rgba(0,0,0,.1);
        outline: none;
        margin-left:15px;
      }
      
      /* 1 */
      .btn-1 {
        background: rgb(0,172,238);
        border: none;
      }
      .btn-1:hover {
         background:  rgb(4, 149, 206);
         
      }