<app-navbar></app-navbar>
<!-- Breadcrums Start -->
<div style="margin:20px;">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">

        <a routerLinkActive="active" routerLink="/Home">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a>MyQuery</a>
      </li>

    </ol>
  </nav>
</div>
<!-- Breadcrums End-->

<div class="container mb-4">
  <a><button type="button" class="custom-btn btn-1 btn-3 " *ngIf=" issolved ===  false" id="button-code"
      (click)="MarkQueryAsSolved(queryId)">Mark Query As Solved</button></a>

</div>

<div class="container p-5 my-1 border">
  <div class="text-center">

    <h1>{{data.title}}</h1>

  </div>
  <div class="panel panel-default"><br>
    {{data.content}}
    <br>
    <br>
    <pre class="">
     {{data.code}}
    </pre>



    <h4>{{data.comments.length}} Answers</h4>
    <div>




      <br>
    </div>
  </div>


  <cdk-virtual-scroll-viewport class="example-viewport" itemSize="">
    <dl class="example-dl p-2">
      <ng-container *cdkVirtualFor="let comment of data.comments">
        <dt class="example-dt"><i class="fa fa-solid fa-user mx-3">Answer : {{comment.message}}</i></dt>
        <dd class="example-dd mx-5">{{comment.code}}</dd>
        <dd class="example-dd mx-5">Answered by : {{comment.name}}</dd>
        <hr>
      </ng-container>
    </dl>
  </cdk-virtual-scroll-viewport>
  <br>
  <br>
  <form #form="ngForm" (ngSubmit)="PostComment()" autocomplete="off" *ngIf="data.isSolved==false">
    <h5>Comment Your Answer</h5>
    <div class="container">
      <div class="bg-light p-2">
        <textarea type="text" name="comment" class="form-control form-control5" id="queryComment-message"
          placeholder="Enter comments" [(ngModel)]="Query.comment">
                    </textarea>
      </div>
    </div>

    <div class="mt-2 text-right">
      <button class="custom-btn btn-1 btn-2" id="button-code" type="submit">PostComment</button>
    </div>

  </form>
</div>
<app-footer></app-footer>