
.btn {
    font-family: Jost, sans-serif;
    font-weight: 600;
    transition: .5s
}

.content {
    margin-right: 50px;
    margin-left: 50px
}

.container {
    padding: 30px;
    margin-top: -30px
}

.fa.fa-comment {
    font-size: 36px
}

.btn-2 {
    float: right;
    margin-right: .5rem;
    background: #00acee
}


.btn-3 {
    float: right;
    margin-right: -2.3rem;
    background: #00acee
}




