
.content {
    margin-right: 50px;
    margin-left: 50px
}

.container {
    padding: 30px;
    margin-top: -30px
}

.title {
    text-align: center
}

.fa.fa-comment {
    font-size: 36px
}
.textsize
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
.lineh
{
 font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  line-height:1.5;
}
.querycode
{
    background-color: whitesmoke;
}
.btn-3 {
    float: right;
    margin-right: -2.3rem;
    background: #00acee
}

.custom-btn.btn-1 {
    border: none;
    width: 200px
}

.user-container {
    float: right
}

.name {
    display: inline-block
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify
}

.example-viewport {
    height: 300px;
    width: 100%;
    border: 1px solid #000
}

.example-dt {
    height: 30px;
    font-weight: 700
}


.breadcrumb {
    margin: 20px
}