h1,
h2 {
  font-weight: 700 !important
}

h3,
h4 {
  font-weight: 600 !important
}

h5,
h6 {
  font-weight: 500 !important
}

.custom-btn {
  width: auto;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 15px;
  font-family: Lato, sans-serif;
  font-weight: 500;
  background: 0 0;
  cursor: pointer;
  transition: all .3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, .5), 7px 7px 20px 0 rgba(0, 0, 0, .1), 4px 4px 5px 0 rgba(0, 0, 0, .1);
  outline: 0;
  margin-left: 15px
}

.btn-1 {
  background: #00acee;
  border: none
}

.btn-1:hover {
  background: #0495ce
}

.LogoImg {
  height: 60px;
  width: 60px
}

.text {
  font-size: 40px;
  padding-left: 1%;
  color: #87ceeb
}

.navbar-toggler-icon {
  height: 25px;
  width: 25px
}

a:link {
  text-decoration: none;
  color: #000
}

a:visited {
  text-decoration: none;
  color: #000
}

a:hover {
  text-decoration: none;
  color: #88ddef
}

a:active {
  text-decoration: none;
  color: #08102a
}

.sidenav-toggler {
  height: 40px !important;
  width: 40px !important;
  margin-top: 1px;
  margin-left: 5px;
  border-color: #fff
}

.nav-link {
  font-family: Jost, sans-serif;
  margin-top: 25px;
  color: #000;
  outline: 0;
  transition: .5s
}

.navbar {
  padding-right: 5px
}

.sidebar {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #f5f5f5;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 10px
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -20rem;
  position: absolute;
  z-index: 5;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out
}

#sidebar-wrapper .list-group {
  font-family: Jost, sans-serif;
  width: 13rem;
  font-size: 20px;
  font-weight: 500;
  overflow: auto
}

@media (min-width:768px) {
  #sidebar-wrapper {
    margin-left: 0
  }
}

.sidenav-toggler {
  margin-right: 25px
}

body {
  overflow-x: hidden
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out
}

#sidebar-wrapper .list-group {
  width: 15rem
}

@media (min-width:768px) {
  #sidebar-wrapper {
    margin-left: 0
  }

  .show {
    margin-left: 0 !important
  }

  .hide {
    margin-left: -15rem !important
  }
}

@media (max-width:767px) {
  .show {
    margin-left: -15rem !important
  }

  .hide {
    margin-left: 0 !important
  }
}

h1,
h2 {
  font-weight: 700 !important
}

h3,
h4 {
  font-weight: 600 !important
}

h5,
h6 {
  font-weight: 500 !important
}

.LogoImg {
  height: 60px;
  width: 60px
}

.text {
  font-size: 40px;
  padding-left: 1%;
  color: #87ceeb
}

.navbar-toggler-icon {
  height: 25px;
  width: 25px
}

a:link {
  text-decoration: none;
  color: #000
}

a:visited {
  text-decoration: none;
  color: #000
}

a:hover {
  text-decoration: none;
  color: #88ddef
}

a:active {
  text-decoration: none;
  color: #08102a
}

.sidenav-toggler {
  height: 40px !important;
  width: 40px !important;
  margin-top: 1px;
  margin-left: 5px;
  border-color: #fff
}

.nav-link {
  font-family: Jost, sans-serif;
  margin-top: 20px;
  color: #000;
  outline: 0;
  transition: .5s
}

.navbar {
  padding-right: 5px
}

.sidebar {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #f5f5f5;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 10px
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -20rem;
  position: absolute;
  z-index: 5;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out
}

#sidebar-wrapper .list-group {
  font-family: Jost, sans-serif;
  width: 13rem;
  font-size: 20px;
  font-weight: 500;
  overflow: auto
}

@media (min-width:768px) {
  #sidebar-wrapper {
    margin-left: 0
  }
}

.sidenav-toggler {
  margin-right: 25px
}