

body {
  margin: 0
}

.readmore {
  position: sticky;
  top: 90%;
  bottom: 10%
}


.stickypagination {
  position: sticky;
  top: 90%
}

.para {
  margin-left: 20px;
}

.card {
  margin-top: 2%;
  max-width: 55%;
  height: auto;
  padding: 10px;
  margin-bottom: 40px;
  text-align: center;
  border-radius: 10px;
  background-color: skyblue;
}

.labeltext {
  font-weight: bold;
  padding: 10px;

}

.Searchbar {
  margin-right: 1%;
}


h1 {
  text-align: center;
}


body {
  font-family: "Quicksand", sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
  background: #7f7fd5;
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
}

.containerArticle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;

  gap: 2rem;
}

img {
  max-width: 100%;
  height: 95%;
  display: block;
  object-fit: cover;
}

.card1 {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: white;


}

h4 {
  font-weight: 600;

}


.card__body {
  padding-left: 1rem;

}


.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

img {
  max-width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info>small {
  color: #666;
}

.Content {
  min-height: 100vh;
}

.breadcrumb {
  margin: 20px;
}