<app-navbar></app-navbar>
<div class="breadcrumb">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/Home" routerLinkActive="active">Home</a>
            </li>
            <li class="breadcrumb-item active">
                Latest Articles
            </li>

        </ol>
    </nav>
</div>
<div class="Content">

    <h1>Latest Articles</h1>
    <app-article-card artsrc={{url}}></app-article-card>
</div>

<app-footer></app-footer>